<body id="login">

<div class="inicial-content">
    <div class="row">
        <div class="col-md-12 main conteudo">

            <div class="logo"></div>

            <div class="panel panel-dark">
                <div class="text-right">
                    <a class="btn btn-sm {{locale=='pt'?'active':''}}" (click)="setLocale('pt')"><img src="./assets/images/brazil.png"/></a>
                    <a class="btn btn-sm {{locale=='en'?'active':''}}" (click)="setLocale('en')"><img src="./assets/images/estadosunidos.png"/></a>
                    <a class="btn btn-sm {{locale=='de'?'active':''}}" (click)="setLocale('de')"><img src="./assets/images/alemanha.png"/></a>
                </div>
                <div class="panel-body">


                    <form id="form-login" class="" [formGroup]="meuForm">

                        <div class="logo-snr-sistema"></div>
                        <p class="lead">{{'login.msg_tela' | translate}} </p>

                        <div class="alert alert-dismissible fade in alert-danger" role="alert" *ngIf="mostraErro">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true"><i class="ico ico-x"></i></span></button>
                            <i class="ico ico-x-circle">
                            </i><strong> {{'login.erro' | translate}} - </strong> {{mensagemErro}}
                        </div>

                        <div class="input-group first">
                            <div class="input-group-addon"><i class="ico ico-user"></i></div>
                            <input type="text" placeholder="{{'login.login' | translate}}" class="form-control input-login"
                                   formControlName="usuario"/>
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ico ico-key"></i></div>
                            <input type="password" placeholder="{{'login.senha' | translate}}" class="form-control" formControlName="senha"/>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="float-left">
                                    <div class="checkbox checkbox-warning">
                                        <input id="checkbox1" class="styled" type="checkbox">
                                        <label for="checkbox1">
                                            {{'login.manter_conectado' | translate}}
                                        </label>
                                    </div>
                                </div>
                                <div class="float-left m-l-10">
                                    <a class="linksenha" href="#">{{'login.esqueceu_senha' | translate}}</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="panel-footer">
                    <div class="center-block text-center">

                        <button (click)="logar()" [disabled]="meuForm.invalid" class="btn btn-primary btn-acessar"
                                type="button"><i
                                class="bt-icon icon-checkmark3"></i>{{'acessar' | translate}}
                        </button>
                        {{'ou' | translate}}
                        <button class="btn btn-default" type="button"  (click)="redirecionarParaRegistroNovo()"
                        ><i class="bt-icon icon-tools"></i>{{'login.criar_conta' | translate}}
                        </button>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="fechar"><i
                        class="ico ico-x"></i></button>
                <h4 class="modal-title" id="myModalLabel">{{'login.definicao_perfil'|translate}}</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">

                        <ul class="list-group" *ngIf="sistemaEscolhido==null">
                            <li *ngFor="let sistema of usuarioLogado.sistemas"
                                class="list-group-item d-flex justify-content-between align-items-center">
                                    <span
                                            style="cursor: pointer" (click)="escolherSistema(sistema)">{{sistema.sigla}} - {{sistema.nome}}</span>
                            </li>
                        </ul>

                        <ul class="list-group" *ngIf="sistemaEscolhido!=null">
                            <li *ngFor="let perfil of sistemaEscolhido.perfis"
                                class="list-group-item d-flex justify-content-between align-items-center">
                                    <span (click)="escolherPerfil(perfil)"
                                          style="cursor: pointer">{{perfil.descricao}}</span>
                            </li>
                        </ul>

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelar()">{{'cancelar' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>

</body>