body.erros {
    background-color: #fd8e40;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
}

h1 {
    font-size: 8em;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

h3 {
    font-size: 4em;
}

.error-center {
    max-width: 700px;
    margin: 0 auto;
}

h4 {
    font-size: 3em;
}

.error-txt:after {
    content: "";
    width: 2px;
    height: 100px;
    background: #ffffff42;
    display: table;
    position: absolute;
    right: -6px;
    top: 25px;
}

.error-center {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 207px;
    position: absolute;
    top: calc(50% - 103px);
    left: 0;
    right: 0;
    bottom: 0;
}

.erros .teste h3 {
    margin: 32px 0 0 0;
}

@media screen and (max-width: 991px) {
    * {
        text-align: center !important;
    }

    .error-txt:after {
        display: none;
    }

    .error-center {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
        position: absolute;
        top: calc(50% - 175px);
        left: 0;
        right: 0;
        bottom: 0;
    }

    .erros .teste h3 {
        margin: 0 0 0 0;
    }
}