@media (min-width:768px){
	.text-md-left{
		text-align:left!important
	}
	.text-md-right{
		text-align:right!important
		}
	.text-md-center{
		text-align:center!important
	}
}
@media (min-width:1200px){
	.text-xl-left {
	text-align:left!important;
	}

	.text-xl-right {
	text-align:right!important;
	}

	.text-xl-center {
	text-align:center!important;
	}
}

.text-lowercase {text-transform:lowercase!important;}
.text-uppercase {text-transform:uppercase!important;}
.text-capitalize {text-transform:capitalize!important;}
.font-weight-light {font-weight:300!important;}
.font-weight-normal {font-weight:400!important;}
.font-weight-bold {font-weight:700!important;}
.font-italic {font-style:italic!important;}
.text-white {color:#fff!important;}
.text-primary {color:#2196f3!important;}
.text-muted {color:#868e96!important;}
.visible {visibility:visible!important;}
.invisible {visibility:hidden!important;}
.lead{font-size:18px}

ul{margin-bottom:0}

a{color:#e0803c}

.sidebar {
    background-color: #fff;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 282px;
    z-index: 1000;
    top: 0;
}

.sidebar ul{list-style-type:none}

@media screen and (min-width:992px) and (max-width:1009px){
	.sidebar{width:70px}
	.sidebar .sidebar-inner .sidebar-logo{border-bottom:1px solid transparent;padding:0}
	.sidebar .sidebar-inner .sidebar-logo a .logo{background-position:50%;width:70px}
	.sidebar .sidebar-inner .sidebar-menu{overflow-x:hidden}
	.sidebar .sidebar-inner .sidebar-menu>li>a .title{display:none}
	.sidebar .sidebar-inner .sidebar-menu li.dropdown .arrow{opacity:0}
	.sidebar .sidebar-inner .sidebar-menu li.dropdown.open ul.dropdown-menu{display:none!important}
	.sidebar:hover{width:280px}
	.sidebar:hover .sidebar-inner .sidebar-logo{border-bottom:1px solid rgba(0,0,0,.0625);padding:0 20px}
	.sidebar:hover .sidebar-inner .sidebar-menu>li>a .title{display:inline-block}
	.sidebar:hover .sidebar-inner .sidebar-menu li.dropdown .arrow{opacity:1}
	.sidebar:hover .sidebar-inner .sidebar-menu li.open>ul.dropdown-menu{display:block!important}
}

@media screen and (max-width:991px){.sidebar{left:-280px;width:250px}}

.sidebar-inner {
    position: relative;
    height: 100%;
    display: table;
}

.sidebar-logo{
	border-bottom:1px solid rgba(0,0,0,.0625);
	border-right:1px solid rgba(0,0,0,.0625);
	line-height:0;
	padding:0 20px;
	-webkit-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease
}

.sidebar-logo a{display:inline-block;width:100%}

.sidebar-logo a .logo{
	background-position:0;
	background-repeat:no-repeat;
	display:inline-block;
	min-height:64px;
	width:100%;
	width:70px
}
.sidebar-logo a .logo-text{color:#313435}

.sidebar-logo .mobile-toggle{
	display:none;
	float:right;
	font-size:18px;
	line-height:64px
}
.sidebar-logo .mobile-toggle a{color:#ffffff}
@media screen and (max-width:991px){.sidebar-logo .mobile-toggle{display:inline-block}}
@media screen and (min-width:992px) and (max-width:1009px){.sidebar-logo .mobile-toggle{display:none}}
.sidebar-menu {
    border-right: 1px solid rgba(0,0,0,.0625);
    height: calc(100%);
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: table;
    width: 100%;
}

.sidebar-menu:after{display:block;clear:both;content:""}
.sidebar-menu .dropdown-toggle:after{display:none}

.sidebar-menu .sidebar-link.active:before{
	background:#2196f3;
	border-radius:50%;
	content:"";
	display:block;
	height:8px;
	left:-4px;
	position:absolute;
	top:calc(50% - 4px);
	width:8px
}
.sidebar-menu li{position:relative}

.sidebar-menu li.dropdown .arrow{
	font-size:10px;
	line-height:40px;
	position:absolute;
	right:15px;
	-webkit-transition:all .05s ease-in;
	-o-transition:all .05s ease-in;
	transition:all .05s ease-in
}
@media screen and (max-width:991px){.sidebar-menu li.dropdown .arrow{right:25px}}
.sidebar-menu li.dropdown.open>a{color:#313435}
.sidebar-menu li.dropdown.open>a>.arrow{
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg)
}
.sidebar-menu li.dropdown.open>.dropdown-menu{display:block}
.sidebar-menu li.dropdown.open>.dropdown-menu .dropdown-menu{padding-left:20px}
.sidebar-menu li.dropdown.open>.dropdown-menu .arrow{line-height:25px}
.sidebar-menu li a{
	color:#72777a;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease}
.sidebar-menu li a:focus,.sidebar-menu li a:hover{color:#313435;text-decoration:none}
.sidebar-menu li a:focus .icon-holder,.sidebar-menu li a:hover .icon-holder{color:#e0803c}

.sidebar-menu>li.dropdown ul.dropdown-menu{
    background-color: transparent;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: none;
    padding-left: 0px;
    padding-top: 0;
    position: relative;
    width: 100%;
    right: 0;
}

.sidebar-menu>li.dropdown ul.dropdown-menu>li>a{display:block;padding:10px 15px}
.sidebar-menu>li.dropdown ul.dropdown-menu>li>a:focus,.sidebar-menu>li.dropdown ul.dropdown-menu>li>a:hover{background-color:transparent;color:#313435}
.sidebar-menu>li.dropdown ul.dropdown-menu>li.active a{color:#313435}

.sidebar-menu>li>a{
	display:block;
	font-size:15px;
	font-weight:500;
	padding:7px 15px 9px;
	position:relative;
	white-space:nowrap
}
.sidebar-menu>li>a .icon-holder{
	border-radius:6px;
	display:inline-block;
	font-size:17px;
	height:35px;
	left:0;
	line-height:35px;
	margin-right:5px;
	position:relative;
	text-align:center;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	width:35px
}
@media screen and (min-width:1009px){.is-collapsed .sidebar{width:70px;}
.is-collapsed .sidebar .sidebar-inner .sidebar-logo{border-bottom:0px solid transparent;padding:0}
.is-collapsed .sidebar .sidebar-inner .sidebar-menu{overflow-x:hidden}
.is-collapsed .sidebar .sidebar-inner .sidebar-menu>li>a .title{display:none}
.is-collapsed .sidebar .sidebar-inner .sidebar-menu li.dropdown .arrow{opacity:0}
.is-collapsed .sidebar .sidebar-inner .sidebar-menu li.dropdown.open ul.dropdown-menu{display:none!important}
.is-collapsed .sidebar:hover{width:280px}
.is-collapsed .sidebar:hover .sidebar-inner .sidebar-logo{border-bottom:1px solid rgba(0,0,0,.0625);padding:0 20px}
.is-collapsed .sidebar:hover .sidebar-inner .sidebar-menu>li>a .title{display:inline-block}
.is-collapsed .sidebar:hover .sidebar-inner .sidebar-menu li.dropdown .arrow{opacity:1}
.is-collapsed .sidebar:hover .sidebar-inner .sidebar-menu li.open>ul.dropdown-menu{display:block!important}}
@media screen and (min-width:992px) and (max-width:1009px){.is-collapsed .sidebar{width:280px}
.is-collapsed .sidebar .sidebar-inner .sidebar-logo{border-bottom:1px solid rgba(0,0,0,.0625);padding:0 20px}
.is-collapsed .sidebar .sidebar-inner .sidebar-logo>a .logo{background-position:0;width:150px}
.is-collapsed .sidebar .sidebar-inner .sidebar-menu>li>a .title{display:inline-block}
.is-collapsed .sidebar .sidebar-inner .sidebar-menu li.dropdown .arrow{opacity:1}
.is-collapsed .sidebar .sidebar-inner .sidebar-menu li.open>ul.dropdown-menu{display:block!important}}
@media screen and (max-width:991px){.is-collapsed .sidebar{left:0}}

.header{
	background-color:#fff;
	border-bottom:1px solid rgba(0,0,0,.0625);
	display:block;
	height:65px;
	margin-bottom:0;
	padding:0;
	-webkit-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	width:calc(100% - 280px);
	z-index:800
}

@media screen and (max-width:991px){.header{width:100%}}
@media screen and (min-width:992px) and (max-width:1009px){.header{width:calc(100% - 70px)}}
.header .header-container:after{display:block;clear:both;content:""}
.header .header-container .nav-left,.header .header-container .nav-right{list-style:none;margin-bottom:0;padding-left:0;position:relative}
.header .header-container .nav-left>li,.header .header-container .nav-right>li{float:left}

.header .header-container .nav-left>li>a,.header .header-container .nav-right>li>a{
	color:#ffffff;
	display:block;
	line-height:59px;
	min-height:59px;
	padding:0 15px;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}

.header .header-container .nav-left>li>a i,.header .header-container .nav-right>li>a i{font-size:24px}
.header .header-container .nav-left>li>a:focus,.header .header-container .nav-left>li>a:hover,.header .header-container .nav-right>li>a:focus,.header .header-container .nav-right>li>a:hover{color:#ffffff;text-decoration:none}
@media screen and (max-width:991px){.header .header-container .nav-left>li>a,.header .header-container .nav-right>li>a{padding:0 15px}}
.header .header-container .nav-left .notifications,.header .header-container .nav-right .notifications{position:relative}

.header .header-container .nav-left .notifications .counter,.header .header-container .nav-right .notifications .counter{
	background-color:#ff3c7e;
	border-radius:50px;
	color:#fff;
	font-size:10px;
	line-height:1;
	padding:3px 5.5px;
	position:absolute;
	right:6px;
	top:12px
}

.header .header-container .nav-left .notifications .dropdown-menu,.header .header-container .nav-right .notifications .dropdown-menu{min-width:350px;padding:0}
@media screen and (max-width:767px){
	.header .header-container .nav-left .notifications .dropdown-menu,.header .header-container .nav-right .notifications .dropdown-menu{max-width:300px}
}

.header .header-container .dropdown-menu .divider{border-bottom:1px solid rgba(0,0,0,.0625);height:1px;overflow:hidden}
.header .header-container .dropdown-menu>li>a{-webkit-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}
.header .header-container .show .dropdown-menu{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.header .header-container .nav-left{float:left;margin-left:15px}
.header .header-container .nav-right{float:right}
.header .header-container .nav-right .dropdown-menu{left:auto;right:0}
.header .header-container .nav-right .dropdown-menu>li{width:100%}
.header .header-container .nav-right .dropdown-menu>li>a{line-height:1.5;min-height:auto;padding:10px 15px}
.header .search-box.active .search-icon,.header .search-box .search-icon-close{display:none}
.header .search-box.active .search-icon-close{display:inline-block}
.header .search-input{display:none}
.header .search-input.active{display:inline-block}

.header .search-input input{
	background-color:transparent;
	border:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	font-size:18px;
	height:40px;
	margin-top:12px;
	outline:none;
	padding:5px
}

@media screen and (max-width:767px){.header .search-input input{width:85px}}
.header .search-input input::-webkit-input-placeholder{color:#a6aaac;font-style:italic}
.header .search-input input:-moz-placeholder,.header .search-input input::-moz-placeholder{color:#a6aaac;font-style:italic}
.header .search-input input:-ms-input-placeholder{color:#a6aaac;font-style:italic}
.is-collapsed .header{width:calc(100% - 70px)}
@media screen and (max-width:991px){.is-collapsed .header{width:100%}}

@media screen and (min-width:992px) and (max-width:1009px){.is-collapsed .header{width:calc(100% - 280px)}}

.page-container{height:100%;padding-left:280px;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}

@media screen and (min-width:992px) and (max-width:1009px){.page-container{padding-left:70px}}
@media screen and (max-width:991px){.page-container{padding-left:0}}
.remain-height{height:calc(100vh - 126px)}
.full-container{left:280px;min-height:calc(100vh - 65px);position:absolute;right:0;top:65px;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
@media screen and (min-width:992px) and (max-width:1009px){.full-container{left:0;padding-left:70px}}
@media screen and (max-width:991px){.full-container{left:0}}
.is-collapsed .page-container{padding-left:70px}
@media screen and (max-width:991px){.is-collapsed .page-container{padding-left:0}}
@media screen and (min-width:992px) and (max-width:1009px){.is-collapsed .page-container{padding-left:280px}}
.is-collapsed .full-container{left:70px}
@media screen and (min-width:767px) and (max-width:991px){.gapX-160\@sm{margin-left:-80px!important;margin-right:-80px!important}
.gapX-160\@sm>*{padding-left:80px!important;padding-right:80px!important}
.gapY-160\@sm{margin-top:-80px!important;margin-bottom:-80px!important}
.gapY-160\@sm>*{padding-top:80px!important;padding-bottom:80px!important}
.gap-160\@sm{margin:-80px!important}
.gap-160\@sm>*{padding:80px!important}}

.peers{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:-webkit-box!important;
	display:-ms-flexbox!important;
	display:flex!important;
	-webkit-box-align:start;
	-ms-flex-align:start;
	align-items:flex-start;
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:flex-start;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap;
	height:auto;
	max-width:100%;
	margin:0;
	padding:0
}

.peer{display:block;
	height:auto;
	-webkit-box-flex:0;
	-ms-flex:0 0 auto;
	flex:0 0 auto
}

.peer-greed,.peers-greed>.peer,.peers-greed>.peers{
	-webkit-box-flex:1;
	-ms-flex:1 1 auto;
	flex:1 1 auto
}
.peer>img{max-width:none}
.peer-greed>img{max-width:100%}

.layers{
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-flow:column nowrap;
	flex-flow:column nowrap;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center}
.d-f,.layers{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex}
.d-if{
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex}
.d-if\@sm{
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex}
.fxw-w{
	-ms-flex-wrap:wrap;
	flex-wrap:wrap}
.fxw-wr{-ms-flex-wrap:wrap-reverse;
	flex-wrap:wrap-reverse}
.fxw-nw{
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap}
.ai-fs{
	-webkit-box-align:start;
	-ms-flex-align:start;
	align-items:flex-start}
.ai-c{
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}
