

.container-example2 {
  max-height: 300px;
  padding: 5px 10px;
  background: #ccc;
}
.sb-content {
    height: 100%;
    width: calc(100% + 17px);
    padding-right: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
}
.sb-scrollbar-container {
    position: absolute;
    right: 5px;
    bottom: 5px;
    top: 5px;
    width: 10px;
}
.sb-container-noscroll .sb-scrollbar-container {
    right: -20px;
}

.sb-scrollbar {
    position: absolute;
    right: 0;
    height: 30px;
    width: 2px;
    border-radius: 100px;
    background: rgba(50, 50, 50, 0.5);
}

.sb-scrollbar:hover {
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:500px){
    .sb-content {
        width: 100%;
    }
}