<div [formGroup]="formulario">

        <div *ngFor="let item of checks; let index = index;" class="form-group col-md-4 col-sm-3 itenschecklist">

            <input type="checkbox" id="fancy-checkbox-grupo-{{item.entidade.codigo}}" [(ngModel)]="checks[index].checked"
                   [formControlName]="item.id"/>
            <div class="[ btn-group ]">
                <label for="fancy-checkbox-grupo-{{item.entidade.codigo}}" class="[ btn btn-default btn-xs ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-grupo-{{item.entidade.codigo}}" class="[ btn btn-default active btn-xs ]">
                    {{item.entidade.descricao}}
                </label>
            </div>
        </div>

</div>
