<body class="erros" id="erro404">

    <div class="inicial-content error-center">
        <div class="row">
            <div class="col-md-6 text-right error-txt"><h1>404</h1></div>
            <div class="col-md-6">
                <div class="teste text-left">
                    <h3>Ooooops!</h3>
                    <p>Desculpe, página não encontrada.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><a class="btn btn-default" href="#" [routerLink]="['']">Página
                Inicial</a></div>
        </div>
    </div>

</body>
