<div #todaModal class="modal-header">
    <ng-container *ngIf="mostrarHeaderPadrao">
        <h4 class="modal-title pull-left" *ngIf="tituloHtml==null">{{titulo}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="service.closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </ng-container>

    <div #tituloHtmlEl></div>

    <ng-template #header></ng-template>
</div>
<div class="modal-body">
    {{texto}}
    <ng-template #corpo></ng-template>
</div>
<div class="modal-footer">
    <ng-template #footer></ng-template>
</div>
