<div class="">
    <div class="titulo-pg">
        <h2>{{'cadastrar' | translate}}</h2>
        <p class="lead">{{usuario?.sistema?.nome}}</p>
    </div>
    <div class="row">
        <form [formGroup]="meuForm" autocomplete="off" novalidate class="col-md-12" data-toggle="validator">

            <fieldset>
                <legend>{{'pessoa' | translate}}</legend>

                <div class="alert alert-dismissible fade in alert-danger" role="alert" *ngIf="usuarioExistente">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true"><i
                            class="ico ico-x"></i></span></button>
                    <i class="ico ico-alert-triangle">
                    </i>{{'usr.alert_usuario_existente' | translate}}
                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12 has-warning">
                        <div class="form-group">
                            <label for="cpfCnpj" class="text-warning">{{'cpf/cnpj'|translate}}</label>
                            <input id="cpfCnpj" formControlName="usuario.pessoa.cpfCnpj" type="text"
                                   [(ngModel)]="usuario.pessoa.cpfCnpj"
                                   (change)="recuperarPessoa()"
                                   placeholder="{{'informe_cpfcnpj'|translate}}"
                                   class="form-control" eigCpfCnpj/>
                            <eig-mensagens-campo [formulario]="meuForm" [campo]="'usuario.pessoa.cpfCnpj'"
                                                 [validadores]="validadores"></eig-mensagens-campo>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 has-warning">
                        <div class="form-group" [ngSwitch]="usuario.pessoa.codigo">
                            <label for="pessoa.nome" class="text-warning">{{'nome'|translate}}</label>
                            <input id="pessoa.nome" *ngSwitchCase="null"
                                   formControlName="usuario.pessoa.nome"
                                   placeholder="{{'usr.nome'|translate}}"
                                   [(ngModel)]="usuario.pessoa.nome" type="text"
                                   class="form-control"/>
                            <eig-mensagens-campo [formulario]="meuForm" [campo]="'usuario.pessoa.nome'"
                                                 *ngSwitchCase="null"
                                                 [validadores]="validadores"></eig-mensagens-campo>

                            <span class="form-control" *ngSwitchDefault>{{usuario?.pessoa?.nome}}</span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 has-warning">
                        <div class="form-group" [ngSwitch]="usuario.pessoa.codigo">
                            <label for="contato" class="text-warning">{{'telefone'|translate}}</label>
                            <input id="contato" formControlName="usuario.pessoa.telefone" *ngSwitchCase="null"
                                   [(ngModel)]="usuario.pessoa.telefone" type="text"
                                   placeholder="{{'informe_telefone'|translate}}"
                                   class="form-control"
                                   mask="(00) 90000-0000"/>
                            <eig-mensagens-campo [formulario]="meuForm" [campo]="'usuario.pessoa.telefone'"
                                                 *ngSwitchCase="null"
                                                 [validadores]="validadores"></eig-mensagens-campo>

                            <span class="form-control" *ngSwitchDefault> {{ (usuario?.pessoa?.telefone | mascara:'(99) 9999-9999') | obscurecer:'telefone' }}</span>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-12 has-warning">
                        <div class="form-group" [ngSwitch]="usuario.pessoa.codigo">
                            <label for="contato.email" class="text-warning">{{'email'|translate}}</label>
                            <input id="contato.email" formControlName="usuario.pessoa.email" *ngSwitchCase="null"
                                   [(ngModel)]="usuario.pessoa.email"
                                   type="text"
                                   placeholder="{{'informe_email'|translate}}"
                                   class="form-control"/>
                            <eig-mensagens-campo [formulario]="meuForm" [campo]="'usuario.pessoa.email'"
                                                 *ngSwitchCase="null"
                                                 [validadores]="validadores"></eig-mensagens-campo>
                            <span class="form-control"
                                  *ngSwitchDefault>{{usuario?.pessoa?.email | obscurecer:'e-mail'}}</span>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <div class="form-group has-warning">
                            <label for="empresa" class="text-warning">{{'empresa'|translate}}</label>
                            <select name="empresa" id="empresa"
                                    class="form-control"
                                    formControlName="usuario.empresa"
                                    [(ngModel)]="usuario.empresa"
                                    [compareWith]="comparadorSelect">
                                <option [ngValue]="emptyOption">{{'selecione_empresa'|translate}}</option>
                                <option *ngFor="let empresa of empresas" [ngValue]="empresa">
                                    {{empresa.nome}}
                                </option>

                            </select>
                            <eig-mensagens-campo [formulario]="meuForm" [campo]="'usuario.empresa'"
                                                 [validadores]="validadores"></eig-mensagens-campo>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset *ngIf="usuario.pessoa.codigo==null">
                <legend>Endereço</legend>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 has-warning">
                        <div class="form-group">
                            <label for="cep" class="text-warning">{{'cep'|translate}}</label>
                            <div class="input-group">
                                <input id="cep" name="cep" type="text" class="form-control"
                                       [(ngModel)]="usuario.pessoa.endereco.logradouro.cep"
                                       [ngModelOptions]="{standalone: true}"
                                       placeholder="{{'informe_cep'|translate}}"
                                       (change)="recuperarCep()"
                                       mask="00.000-000"
                                />
                                <div class="input-group-addon" (click)="recuperarCep()"><i class="ico ico-search"></i>
                                </div>
                                <eig-mensagens-campo [formulario]="meuForm"
                                                     [campo]="'usuario.pessoa.endereco.logradouro.cep'"
                                                     [validadores]="validadores"></eig-mensagens-campo>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ">
                            <label for="estado">{{'estado'|translate}}</label>
                            <input name="estado" id="estado" class="form-control"
                                   [(ngModel)]="usuario.pessoa.endereco.logradouro.bairro.municipio.estado.nome"
                                   placeholder="{{'informe_estado'|translate}}"
                                   [ngModelOptions]="{standalone: true}"
                                   disabled/>

                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                        <label for="municipio">{{'municipio'|translate}}</label>
                        <input name="municipio" id="municipio" class="form-control"
                               [(ngModel)]="usuario.pessoa.endereco.logradouro.bairro.municipio.nome"
                               [ngModelOptions]="{standalone: true}"
                               disabled/>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="bairro">{{'bairro'|translate}}</label>
                            <input id="bairro" type="text" class="form-control"
                                   [(ngModel)]="usuario.pessoa.endereco.logradouro.bairro.nome"
                                   placeholder="{{'informe_bairro'|translate}}"
                                   [ngModelOptions]="{standalone: true}"
                                   disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                        <label for="logradouro">{{'logradouro'|translate}}</label>
                        <input id="logradouro" type="text" class="form-control"
                               [ngModelOptions]="{standalone: true}"
                               placeholder="{{'informe_logradouro'|translate}}"
                               [(ngModel)]="usuario.pessoa.endereco.logradouro.nome" disabled/>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 has-warning">
                        <div class="form-group">
                            <label for="numero" class="text-warning">{{'numero'|translate}}</label>
                            <input id="numero" type="text" class="form-control"
                                   formControlName="usuario.pessoa.endereco.numero"
                                   placeholder="{{'informe_numero'|translate}}"
                                   [(ngModel)]="usuario.pessoa.endereco.numero"/>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="complemento">{{'complemento'|translate}}</label>
                            <input id="complemento" type="text" class="form-control"
                                   placeholder="{{'informe_complemento'|translate}}"
                                   [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="usuario.pessoa.endereco.descricao"/>
                        </div>
                    </div>
                </div>
            </fieldset>


            <fieldset>
                <legend>{{'usr.dados_login'|translate}}</legend>

                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12 has-warning" *ngIf="usuario.codigo != null">
                        <div class="form-group">
                            <label for="login" class="text-warning">{{'usuario'|translate}}</label>
                            <span class="form-control">{{usuario?.login}}</span>
                        </div>
                    </div>

                    <div class="col-md-6  has-warning">
                        <div class="form-group">
                            <label for="usuario.perfil" class="text-warning">{{'perfil'|translate}}</label>
                            <select name="usuario.perfil" id="usuario.perfil" class="form-control"
                                    [(ngModel)]="usuario.perfil"
                                    formControlName="perfil"
                                    [compareWith]="comparadorSelect">
                                <option [ngValue]="emptyOption">{{emptyOption.descricao}}</option>
                                <option *ngFor="let perfil of perfis" [ngValue]="perfil">{{perfil.descricao}}
                                </option>

                            </select>
                            <eig-mensagens-campo [formulario]="meuForm" [campo]="'perfil'"
                                                 [validadores]="validadores"></eig-mensagens-campo>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="usuario.codigo == null">
                    <div class="col-md-4 col-sm-4 col-xs-12 has-warning">
                        <div class="form-group">
                            <label for="login" class="text-warning">{{'usuario'|translate}}</label>
                            <input id="login" type="text" class="form-control"
                                   formControlName="usuario.login"
                                   placeholder="{{'informe_usuario'|translate}}"
                                   [(ngModel)]="usuario.login"/>
                            <eig-mensagens-campo [formulario]="meuForm" [campo]="'usuario.login'"
                                                 [validadores]="validadores"></eig-mensagens-campo>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-4 col-xs-12 has-warning">
                        <div class="form-group">
                            <label for="senha" class="text-warning">{{'senha'|translate}}</label>
                            <input id="senha" type="password" maxlength="8" class="form-control"
                                   formControlName="usuario.senha"
                                   placeholder="{{'informe_senha'|translate}}"
                                   [(ngModel)]="usuario.senha"/>
                            <eig-mensagens-campo [formulario]="meuForm" [campo]="'usuario.senha'"
                                                 [validadores]="validadores"></eig-mensagens-campo>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 has-warning">
                        <div class="form-group">
                            <label for="confirmarSenha" class="text-warning">{{'confirma_senha'|translate}}</label>
                            <input id="confirmarSenha" type="password" maxlength="8"
                                   class="form-control" [(ngModel)]="confirmarSenha"
                                   placeholder="{{'informe_confirma_senha'|translate}}"
                                   name="confirmarSenha" formControlName="confirmarSenha"
                                   required>
                        </div>
                    </div>
                </div>
            </fieldset>


            <!--<div *ngIf="usuario.pessoa.codigo != null">
                <fieldset>
                    <legend>Dados de Login</legend>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="codigoSituacaoUsuario">Status</label>
                                <select name="codigoSituacaoUsuario" id="codigoSituacaoUsuario" class="form-control"
                                        [(ngModel)]="usuario.situacao"
                                        formControlName="usuario.situacao"
                                        [compareWith]="comparadorSelect">
                                    <option [ngValue]="emptyOption">{{emptyOption.descricao}}</option>
                                    <option *ngFor="let situacao of situacoesUsuario" [ngValue]="situacao">
                                        {{situacao.descricao}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    &lt;!&ndash;<div class="row" *ngIf="usuario!=null && usuario.situacao!=null && usuario.situacao.isInativo">
                      <div class="col-md-12">
                        <label for="motivoBloqueio">Motivo Bloqueio</label>
                        <textarea class="form-control" rows="3" id="motivoBloqueio" type="text"
                                  [(ngModel)]="usuario.motivoBloqueio"
                                  formControlName="usuario.motivoBloqueio"
                                  placeholder="Informe o motivo do bloqueio"
                                  type="text"></textarea>
                        <eig-mensagens-campo [formulario]="meuForm" [campo]="'usuario.motivoBloqueio'"
                                             [validadores]="validadores"></eig-mensagens-campo>
                      </div>
                    </div>&ndash;&gt;
                </fieldset>

            </div>-->

            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default" (click)="voltar()">
                        {{'voltar'|translate}}
                    </button>
                    <button type="submit" class="btn btn-success" [disabled]="meuForm.invalid" (click)="salvar()">
                        {{'salvar'|translate}}
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>


