<div class="row">

  <div class="col-md-12">
    <div class="titulo-pg">
      <h2 class="tit">Consulta</h2>
      <p class="lead">Usuários</p>
    </div>
  </div>
</div>

<form [formGroup]="meuForm" novalidate>

  <div class="row">
    <div class="col-md-12">

      <fieldset>
        <legend>Filtros para busca</legend>

        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Nome do usuário"
                     formControlName="nome">
            </div>

          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Sigla</label>
              <input type="text" class="form-control" placeholder="Insira o cpf/cpnj" eigCpfCnpj
                     formControlName="cpfCnpj">
            </div>
          </div>

          <div class="col-md-2 col-sm-1">
            <div class="form-group btn-group-from">
              <button [disabled]="!valido()" (click)="filtrar()"
                      class="btn btn-ico btn-primary btn-width-full"><i class="ico ico-lupa"></i></button>
              <button *ngIf="filtrado" (click)="limpar()" class="btn btn-ico btn-success btn-width-full">
                <i class="ico ico-trash"></i> Limpar
              </button>
            </div>
          </div>

        </div>


      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 pull-left">
      <button [routerLink]="['/main/usuario/novo']" class="btn btn-ico btn-success btn-width-full">
        <i class="ico ico-plus"></i> Novo
      </button>
    </div>
  </div>


  <div class="row m-t-20">
    <div class="col-md-12">
      <div class="panel panel-default table-responsive">


        <ngx-datatable
                class="expandable"
                [rows]="rows"
                [cssClasses]="cssClasses"
                [columnMode]="'flex'"
                [columns]="colunas"
                [headerHeight]="headerHeight"
                [rowHeight]="rowHeight"
                [footerHeight]="footerHeight"
                [loadingIndicator]="isLoading"
                [messages]="mensagens"
                [externalPaging]="true"
                [count]="page.count"
                [offset]="page.offset"
                [limit]="page.limit"
                (page)='setPage($event)'

        >

          <!--  &lt;!&ndash; Group Header Template &ndash;&gt;
            <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader (toggle)="onDetailToggle($event)">
                <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                    <div style="padding-left:5px;">
                        <a
                                [class.datatable-icon-right]="!expanded"
                                [class.datatable-icon-down]="expanded"
                                title="Expandir/Colapsar"
                                (click)="toggleExpandGroup(group)">
                        </a>
                        <b>{{group.value[0].sistema.nome}}</b>
                    </div>
                </ng-template>
            </ngx-datatable-group-header>-->



          <ng-template #primeira let-row="row" let-value="value" ngx-datatable-cell-template>
            <a style="color: black" [routerLink]="['/main/usuario',row.codigo]">
              {{row.pessoa.nome}}
            </a>
          </ng-template>


          <ng-template #acoes let-row="row" let-value="value" ngx-datatable-cell-template
                       let-expanded="expanded">

            <div class="center-block">
              <button type="button" class="btn btn-sm btn-ico btn-default center-block"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ico ico-settings"></i>
              </button>
              <ul class="dropdown-menu dropdown">
                <li>
                  <a type="button"  [routerLink]="['/main/usuario',row.codigo]">
                    <i class="ico ico-edit"
                       data-toggle="tooltip"
                       data-placement="right"
                    ></i>
                    Editar
                  </a>
                </li>
                <li>
                  <a type="button" (eigConfirm)="removerUsuario(row)">
                    <i class="ico ico-trash"
                       data-toggle="tooltip"
                       data-placement="right"
                    ></i>
                    Excluir
                  </a>
                </li>

              </ul>
            </div>

          </ng-template>
        </ngx-datatable>


      </div>
    </div>
  </div>


</form>