<body class="erros" id="erro404">

    <div class="inicial-content error-center">
        <div class="row">
            <div class="col-md-6 text-right error-txt"><h1>403</h1></div>
            <div class="col-md-6">
                <div class="teste text-left">
                    <h3>Ooooops!</h3>
                    <p>Desculpe, você não tem permissão para visualizar esta página.</p>
                    <p>Efetue o seu login para continuar.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><a class="btn btn-default" href="#" (click)="sair()">Logar</a></div>
        </div>
    </div>

</body>
