.nt {
    color: #2f6f9f;
}
.na {
    color: #4f9fcf;
}
.s {
    color: #d44950;
}
.nc {
    color: #0A8;
}
.nl {
    color: #99F;
}
.nb {
    color: #366;
}

.c {
    color: #9f9f9f;
}

code {
    padding: 0;
    font-size: 0.9em !important;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
    color: #313131 !important;
}

hr {
    margin: 1px 0 20px 0;
    border-color: #dcdcdc;
}

/*ICONES*/
.fs1 {
    font-size: 24px;
}
i {
    font-family: 'eig-mercados' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyph {
    width: 2em;
    padding: 10px 6px 7px 6px;
    margin: 4px;
    float: left;
    overflow: hidden;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    transition: all,0.3s;
}
.glyph:hover {
    background: #dcdcdc;
    transition: all,0.3s;
}

.show-grid > div > div {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.show-grid .row {
    margin: 0;
}

button.btn {
    margin: 2px 0;
}

#dashboard {
    background:#f2f2f2;
}

#dashboard .image-daschboard {
    position: relative;
    width: 735px;
    height: 544px;
    background: url(../images/dashboard-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: calc(50% - 367px);
}

.main-dash {
    margin: 49px 0 0 0;
}

@media screen and (max-width: 750px){
     #dashboard .image-daschboard {
        width: 520px;
        height: 383px;
        left: calc(50% - 265px);
    }
}


@media screen and (max-width: 550px){
     #dashboard .image-daschboard {
        width: 335px;
        height: 249px;
        left: calc(50% - 164px);
    }
}

.input-group-btn button.btn {
    margin: 0 0 0 -1px !important;
}

.color-block {
    text-align: center;
    height: 130px;
    color: #fff;
    padding: 40px;
}
.color-block-dark {
    height: 130px;
    text-align: center;
    color: #fff;
    padding: 40px;
}
.glyph i {
    color: #6b6b6b;
}
.glyph:hover {
    cursor: pointer;
}
.btn-group-vertical button.btn {
    margin: 0;
}