body, html {
	margin: 0;
	padding: 0;
	display: table;
	height: 100%;
	width: 100%;
}
#erro500 .row, #erro503 .row {
	margin: 0;
	padding: 0;
	display: table;
	height: 100%;
	width: 100%;
}

#erro500 .col-md-12, #erro503 .col-md-12 {
	margin: 0;
	padding: 0;
	display: table;
	height: 100%;
	width: 100%;
}

.main-error {
    max-width: 681px;
    position: sticky;
    left: calc(50% - 342px);
    top: calc(50% - 228px);
    display: block;
}

#erro503 .main-error {
    max-width: 681px;
    position: sticky;
    left: calc(50% - 342px);
    top: calc(50% - 328px);
    display: block;
}

#erro500 .texterror h1{
 font-size: 5em;
}

#erro500 .texterror p{
 font-size: 1.6em;
}

#erro503 .texterror h1 {
    font-size: 2.3em;
    color: #2a569a;
}

#erro503 .texterror p {
    font-size: 1.3em;
}

@media screen and (max-width:600px){
	#erro500 .texterror h1 {
    	font-size: 3em;
	}
	#erro500 .texterror p {
    	font-size: 1em;
	}

	#erro503 .texterror h1 {
    	font-size: 2em;
	}
	#erro503 .texterror p {
    	font-size: 1em;
    	padding: 0 20px;
	}

}