@font-face {
  font-family: 'EIG-Mercados';
  src:  url('../fonts/EIG-Mercados.eot?sndf6e');
  src:  url('../fonts/EIG-Mercados.eot?sndf6e#iefix') format('embedded-opentype'),
    url('../fonts/EIG-Mercados.ttf?sndf6e') format('truetype'),
    url('../fonts/EIG-Mercados.woff?sndf6e') format('woff'),
    url('../fonts/EIG-Mercados.svg?sndf6e#EIG-Mercados') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'EIG-Mercados' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-key:before {
  content: "\e900";
}
.ico-star2:before {
  content: "\e901";
}
.ico-lupa:before {
  content: "\e902";
}
.ico-activity:before {
  content: "\e90f";
}
.ico-airplay:before {
  content: "\e910";
}
.ico-alert-circle:before {
  content: "\e911";
}
.ico-alert-octagon:before {
  content: "\e912";
}
.ico-alert-triangle:before {
  content: "\e913";
}
.ico-align-center:before {
  content: "\e914";
}
.ico-align-justify:before {
  content: "\e915";
}
.ico-align-left:before {
  content: "\e916";
}
.ico-align-right:before {
  content: "\e917";
}
.ico-anchor:before {
  content: "\e918";
}
.ico-aperture:before {
  content: "\e919";
}
.ico-archive:before {
  content: "\e91a";
}
.ico-arrow-down:before {
  content: "\e91b";
}
.ico-arrow-down-circle:before {
  content: "\e91c";
}
.ico-arrow-down-left:before {
  content: "\e91d";
}
.ico-arrow-down-right:before {
  content: "\e91e";
}
.ico-arrow-left:before {
  content: "\e91f";
}
.ico-arrow-left-circle:before {
  content: "\e920";
}
.ico-arrow-right:before {
  content: "\e921";
}
.ico-arrow-right-circle:before {
  content: "\e922";
}
.ico-arrow-up:before {
  content: "\e923";
}
.ico-arrow-up-circle:before {
  content: "\e924";
}
.ico-arrow-up-left:before {
  content: "\e925";
}
.ico-arrow-up-right:before {
  content: "\e926";
}
.ico-at-sign:before {
  content: "\e927";
}
.ico-award:before {
  content: "\e928";
}
.ico-bar-chart:before {
  content: "\e929";
}
.ico-bar-chart-2:before {
  content: "\e92a";
}
.ico-battery:before {
  content: "\e92b";
}
.ico-battery-charging:before {
  content: "\e92c";
}
.ico-bell:before {
  content: "\e92d";
}
.ico-bell-off:before {
  content: "\e92e";
}
.ico-bluetooth:before {
  content: "\e92f";
}
.ico-bold:before {
  content: "\e930";
}
.ico-book:before {
  content: "\e931";
}
.ico-book-open:before {
  content: "\e932";
}
.ico-bookmark:before {
  content: "\e933";
}
.ico-box:before {
  content: "\e934";
}
.ico-briefcase:before {
  content: "\e935";
}
.ico-calendar:before {
  content: "\e936";
}
.ico-camera:before {
  content: "\e937";
}
.ico-camera-off:before {
  content: "\e938";
}
.ico-cast:before {
  content: "\e939";
}
.ico-check:before {
  content: "\e93a";
}
.ico-check-circle:before {
  content: "\e93b";
}
.ico-check-square:before {
  content: "\e93c";
}
.ico-chevron-down:before {
  content: "\e93d";
}
.ico-chevron-left:before {
  content: "\e93e";
}
.ico-chevron-right:before {
  content: "\e93f";
}
.ico-chevron-up:before {
  content: "\e940";
}
.ico-chevrons-down:before {
  content: "\e941";
}
.ico-chevrons-left:before {
  content: "\e942";
}
.ico-chevrons-right:before {
  content: "\e943";
}
.ico-chevrons-up:before {
  content: "\e944";
}
.ico-chrome:before {
  content: "\e945";
}
.ico-circle:before {
  content: "\e946";
}
.ico-clipboard:before {
  content: "\e947";
}
.ico-clock:before {
  content: "\e948";
}
.ico-cloud:before {
  content: "\e949";
}
.ico-cloud-drizzle:before {
  content: "\e94a";
}
.ico-cloud-lightning:before {
  content: "\e94b";
}
.ico-cloud-off:before {
  content: "\e94c";
}
.ico-cloud-rain:before {
  content: "\e94d";
}
.ico-cloud-snow:before {
  content: "\e94e";
}
.ico-code:before {
  content: "\e94f";
}
.ico-codepen:before {
  content: "\e950";
}
.ico-command:before {
  content: "\e951";
}
.ico-compass:before {
  content: "\e952";
}
.ico-copy:before {
  content: "\e953";
}
.ico-corner-down-left:before {
  content: "\e954";
}
.ico-corner-down-right:before {
  content: "\e955";
}
.ico-corner-left-down:before {
  content: "\e956";
}
.ico-corner-left-up:before {
  content: "\e957";
}
.ico-corner-right-down:before {
  content: "\e958";
}
.ico-corner-right-up:before {
  content: "\e959";
}
.ico-corner-up-left:before {
  content: "\e95a";
}
.ico-corner-up-right:before {
  content: "\e95b";
}
.ico-cpu:before {
  content: "\e95c";
}
.ico-credit-card:before {
  content: "\e95d";
}
.ico-crop:before {
  content: "\e95e";
}
.ico-crosshair:before {
  content: "\e95f";
}
.ico-database:before {
  content: "\e960";
}
.ico-delete:before {
  content: "\e961";
}
.ico-disc:before {
  content: "\e962";
}
.ico-dollar-sign:before {
  content: "\e963";
}
.ico-download:before {
  content: "\e964";
}
.ico-download-cloud:before {
  content: "\e965";
}
.ico-droplet:before {
  content: "\e966";
}
.ico-edit:before {
  content: "\e967";
}
.ico-edit-2:before {
  content: "\e968";
}
.ico-edit-3:before {
  content: "\e969";
}
.ico-external-link:before {
  content: "\e96a";
}
.ico-eye:before {
  content: "\e96b";
}
.ico-eye-off:before {
  content: "\e96c";
}
.ico-facebook2:before {
  content: "\e96d";
}
.ico-fast-forward:before {
  content: "\e96e";
}
.ico-feather:before {
  content: "\e96f";
}
.ico-file:before {
  content: "\e970";
}
.ico-file-zip:before {
  content: "\e903";
}
.ico-file-code:before {
  content: "\e904";
}
.ico-file-word:before {
  content: "\e905";
}
.ico-file-pdf:before {
  content: "\e906";
}
.ico-file-excel:before {
  content: "\e907";
}
.ico-file-minus:before {
  content: "\e971";
}
.ico-file-plus:before {
  content: "\e972";
}
.ico-file-text:before {
  content: "\e973";
}
.ico-files:before {
  content: "\e908";
}
.ico-film:before {
  content: "\e974";
}
.ico-filter:before {
  content: "\e975";
}
.ico-flag:before {
  content: "\e976";
}
.ico-folder:before {
  content: "\e977";
}
.ico-folder-minus:before {
  content: "\e978";
}
.ico-folder-plus:before {
  content: "\e979";
}
.ico-gift:before {
  content: "\e97a";
}
.ico-git-branch:before {
  content: "\e97b";
}
.ico-git-commit:before {
  content: "\e97c";
}
.ico-git-merge:before {
  content: "\e97d";
}
.ico-git-pull-request:before {
  content: "\e97e";
}
.ico-github:before {
  content: "\e97f";
}
.ico-gitlab:before {
  content: "\e980";
}
.ico-globe:before {
  content: "\e981";
}
.ico-grid:before {
  content: "\e982";
}
.ico-hard-drive:before {
  content: "\e983";
}
.ico-hash:before {
  content: "\e984";
}
.ico-headphones:before {
  content: "\e985";
}
.ico-heart:before {
  content: "\e986";
}
.ico-help-circle:before {
  content: "\e987";
}
.ico-home:before {
  content: "\e988";
}
.ico-image:before {
  content: "\e989";
}
.ico-inbox:before {
  content: "\e98a";
}
.ico-info:before {
  content: "\e98b";
}
.ico-instagram2:before {
  content: "\e98c";
}
.ico-italic:before {
  content: "\e98d";
}
.ico-layers:before {
  content: "\e98e";
}
.ico-grid2:before {
  content: "\e98f";
}
.ico-life-buoy:before {
  content: "\e990";
}
.ico-link:before {
  content: "\e991";
}
.ico-link-2:before {
  content: "\e992";
}
.ico-linkedin:before {
  content: "\e993";
}
.ico-list:before {
  content: "\e994";
}
.ico-loader:before {
  content: "\e995";
}
.ico-lock:before {
  content: "\e996";
}
.ico-log-in:before {
  content: "\e997";
}
.ico-log-out:before {
  content: "\e998";
}
.ico-mail:before {
  content: "\e999";
}
.ico-map:before {
  content: "\e99a";
}
.ico-map-pin:before {
  content: "\e99b";
}
.ico-maximize:before {
  content: "\e99c";
}
.ico-maximize-2:before {
  content: "\e99d";
}
.ico-menu:before {
  content: "\e99e";
}
.ico-message-circle:before {
  content: "\e99f";
}
.ico-message-square:before {
  content: "\e9a0";
}
.ico-mic:before {
  content: "\e9a1";
}
.ico-mic-off:before {
  content: "\e9a2";
}
.ico-minimize:before {
  content: "\e9a3";
}
.ico-minimize-2:before {
  content: "\e9a4";
}
.ico-minus:before {
  content: "\e9a5";
}
.ico-minus-circle:before {
  content: "\e9a6";
}
.ico-minus-square:before {
  content: "\e9a7";
}
.ico-monitor:before {
  content: "\e9a8";
}
.ico-moon:before {
  content: "\e9a9";
}
.ico-more-horizontal:before {
  content: "\e9aa";
}
.ico-more-vertical:before {
  content: "\e9ab";
}
.ico-move:before {
  content: "\e9ac";
}
.ico-music:before {
  content: "\e9ad";
}
.ico-navigation:before {
  content: "\e9ae";
}
.ico-navigation-2:before {
  content: "\e9af";
}
.ico-octagon:before {
  content: "\e9b0";
}
.ico-package:before {
  content: "\e9b1";
}
.ico-paperclip:before {
  content: "\e9b2";
}
.ico-pause:before {
  content: "\e9b3";
}
.ico-pause-circle:before {
  content: "\e9b4";
}
.ico-percent:before {
  content: "\e9b5";
}
.ico-phone:before {
  content: "\e9b6";
}
.ico-phone-call:before {
  content: "\e9b7";
}
.ico-phone-forwarded:before {
  content: "\e9b8";
}
.ico-phone-incoming:before {
  content: "\e9b9";
}
.ico-phone-missed:before {
  content: "\e9ba";
}
.ico-phone-off:before {
  content: "\e9bb";
}
.ico-phone-outgoing:before {
  content: "\e9bc";
}
.ico-pie-chart:before {
  content: "\e9bd";
}
.ico-play:before {
  content: "\e9be";
}
.ico-play-circle:before {
  content: "\e9bf";
}
.ico-plus:before {
  content: "\e9c0";
}
.ico-plus-circle:before {
  content: "\e9c1";
}
.ico-plus-square:before {
  content: "\e9c2";
}
.ico-pocket:before {
  content: "\e9c3";
}
.ico-power:before {
  content: "\e9c4";
}
.ico-printer:before {
  content: "\e9c5";
}
.ico-radio:before {
  content: "\e9c6";
}
.ico-refresh-ccw:before {
  content: "\e9c7";
}
.ico-refresh-cw:before {
  content: "\e9c8";
}
.ico-repeat:before {
  content: "\e9c9";
}
.ico-rewind:before {
  content: "\e9ca";
}
.ico-rotate-ccw:before {
  content: "\e9cb";
}
.ico-rotate-cw:before {
  content: "\e9cc";
}
.ico-rss:before {
  content: "\e9cd";
}
.ico-save:before {
  content: "\e9ce";
}
.ico-scissors:before {
  content: "\e9cf";
}
.ico-search:before {
  content: "\e9d0";
}
.ico-send:before {
  content: "\e9d1";
}
.ico-server:before {
  content: "\e9d2";
}
.ico-settings:before {
  content: "\e9d3";
}
.ico-share:before {
  content: "\e9d4";
}
.ico-share-2:before {
  content: "\e9d5";
}
.ico-shield:before {
  content: "\e9d6";
}
.ico-shield-off:before {
  content: "\e9d7";
}
.ico-shopping-bag:before {
  content: "\e9d8";
}
.ico-shopping-cart:before {
  content: "\e9d9";
}
.ico-shuffle:before {
  content: "\e9da";
}
.ico-sidebar:before {
  content: "\e9db";
}
.ico-skip-back:before {
  content: "\e9dc";
}
.ico-skip-forward:before {
  content: "\e9dd";
}
.ico-slack:before {
  content: "\e9de";
}
.ico-slash:before {
  content: "\e9df";
}
.ico-sliders:before {
  content: "\e9e0";
}
.ico-smartphone:before {
  content: "\e9e1";
}
.ico-speaker:before {
  content: "\e9e2";
}
.ico-square:before {
  content: "\e9e3";
}
.ico-star:before {
  content: "\e9e4";
}
.ico-stop-circle:before {
  content: "\e9e5";
}
.ico-sun:before {
  content: "\e9e6";
}
.ico-sunrise:before {
  content: "\e9e7";
}
.ico-sunset:before {
  content: "\e9e8";
}
.ico-tablet:before {
  content: "\e9e9";
}
.ico-tag:before {
  content: "\e9ea";
}
.ico-target:before {
  content: "\e9eb";
}
.ico-terminal:before {
  content: "\e9ec";
}
.ico-thermometer:before {
  content: "\e9ed";
}
.ico-thumbs-down:before {
  content: "\e9ee";
}
.ico-thumbs-up:before {
  content: "\e9ef";
}
.ico-toggle-left:before {
  content: "\e9f0";
}
.ico-toggle-right:before {
  content: "\e9f1";
}
.ico-trash:before {
  content: "\e9f2";
}
.ico-trash-2:before {
  content: "\e9f3";
}
.ico-trending-down:before {
  content: "\e9f4";
}
.ico-trending-up:before {
  content: "\e9f5";
}
.ico-triangle:before {
  content: "\e9f6";
}
.ico-truck:before {
  content: "\e9f7";
}
.ico-tv:before {
  content: "\e9f8";
}
.ico-twitter2:before {
  content: "\e9f9";
}
.ico-type:before {
  content: "\e9fa";
}
.ico-umbrella:before {
  content: "\e9fb";
}
.ico-underline:before {
  content: "\e9fc";
}
.ico-unlock:before {
  content: "\e9fd";
}
.ico-upload:before {
  content: "\e9fe";
}
.ico-upload-cloud:before {
  content: "\e9ff";
}
.ico-user:before {
  content: "\ea00";
}
.ico-user-check:before {
  content: "\ea01";
}
.ico-user-minus:before {
  content: "\ea02";
}
.ico-user-plus:before {
  content: "\ea03";
}
.ico-user-x:before {
  content: "\ea04";
}
.ico-users:before {
  content: "\ea05";
}
.ico-video:before {
  content: "\ea06";
}
.ico-video-off:before {
  content: "\ea07";
}
.ico-voicemail:before {
  content: "\ea08";
}
.ico-volume:before {
  content: "\ea09";
}
.ico-volume-1:before {
  content: "\ea0a";
}
.ico-volume-2:before {
  content: "\ea0b";
}
.ico-volume-x:before {
  content: "\ea0c";
}
.ico-watch:before {
  content: "\ea0d";
}
.ico-wifi:before {
  content: "\ea0e";
}
.ico-wifi-off:before {
  content: "\ea0f";
}
.ico-wind:before {
  content: "\ea10";
}
.ico-x:before {
  content: "\ea11";
}
.ico-x-circle:before {
  content: "\ea12";
}
.ico-x-square:before {
  content: "\ea13";
}
.ico-youtube2:before {
  content: "\ea14";
}
.ico-zap:before {
  content: "\ea15";
}
.ico-zap-off:before {
  content: "\ea16";
}
.ico-zoom-in:before {
  content: "\ea17";
}
.ico-zoom-out:before {
  content: "\ea18";
}
