html {
    display: table;
    height: 100%;
    width: 100%;
}
body#login {
    background: url( ../assets/images/bg-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
    font-size: unset;
}
body#login .conteudo {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: table;
    float: none;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
}
.row {
    height: 100%;
}
#login .panel {
    margin-top: calc(50% - 245px);
}

#login form {
    margin: 0 auto;
    width: 74%;
}
#login p.lead {
    font-size: 1em;
    line-height: normal;
}
#login .panel-dark p.lead {
    color: #b7b0ae;
}
.panel.panel-dark {
    background: rgba(0,0,0,0.24);
    border-radius: 6px;
}
#login .panel .input-group-addon {
    background: rgba(0,0,0,0.2);
    color: #9c9290;
    border: none;
}

#login .panel .input-group-addon {
    border-radius: 0 0 0 4px !important;
}

#login .first > .input-group-addon {
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
    border-radius: 4px 0 0 0 !important;
}


#login .panel input.form-control {
    background: rgba(0,0,0, 0.2);
    color: #a89d9a !important;
    border: none;
    border-radius: 0 0 4px 0;
    min-height: 48px;
    background: rgba(0,0,0, 0.2);
    color: #a89d9a !important;
    border: none;
}

#login .first >  input.form-control {
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
    border-radius: 0 4px 0 0 !important;
}


#login .panel input.form-control::placeholder {
    color: #a89d9a;
}

.panel-dark .panel-footer {
    background: rgba(0,0,0,0.25);
    border: 0;
    padding: 16px;
    color: #fff;
    font-size: 1.3em;
    font-weight: lighter;
}
#login .panel-body {
    padding: 39px 15px 39px 15px;
}

#login .panel-dark label {
    color: #a89d9a;
}
#login a.linksenha {
    padding: 10px 0;
    display: inline-block;
}

#login .logo {
    width: 257px;
    height: 76px;
    background: url(../assets/images/logo-eig-branca.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    left: calc(50% - 128px);
    top: 78px;
}
#login .panel .logo-snr-sistema {
    width: 87px;
    height: 87px;
    background: url(../assets/images/logo-snr-login.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
    position: sticky;
    left: calc(50% - 43px);
    margin: 0 0 23px 0;
}
.inicial-content > .row {
    height: 100%;
    display: table;
    width: 100%;
    margin: 0;
}

.inicial-content {
    display: table;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
    body#login .conteudo {
        max-width: 100%;
        width: 100%;
    }
    #login .panel {
        margin-top: calc(50% - 91px);
    }
    #login form {
        width: 100%;
    }
    #login .panel-body {
        padding: 14px 14px 3px 14px;
    }

    #login .logo {
        width: 200px;
        height: 57px;
        left: calc(50% - 100px);
        top: 39px;
        background-size: cover;
    }
    #login .panel .logo-snr-sistema {
        width: 70px;
        height: 70px;
        left: calc(50% - 35px);
        margin: 0 0 13px 0;
        background-size: cover;
    }
}

#login .erro .input-group > .input-group-addon {
    border-top: 1px solid #ca4e4a;
    border-left: 1px solid #ca4e4a;
    border-bottom: 1px solid #ca4e4a !important;
}

#login .panel .erro input.form-control {
    border-top: 1px solid #CA4E4B;
    border-right: 1px solid #ca4e4a;
    border-bottom: 1px solid #ca4e4a !important;
}
.erro .input-group.first {
    top: 1px;
}

#login .erro .input-group {
    box-shadow: 0 0 7px #ca4e4a;
    border-radius: 6px;
}



#login .erro .alert {
    display: block;
}