@import url("bootstrap.min.css");
@import url("demo.css");
@import url("ico-font.css");
@import url("inicial-style.css");
@import url("style-orange.css");
@import url("build-check-boxes.css");
@import url("margin-padding.css");
@import url("scrollBar.css");
@import url("toggle.css");
@import url("HoldOn.css");
@import url("daterangepicker.css");
@import url("bootstrap-datepicker.css");
@import url("bootstrap-select.css");


@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'after';
    src: url("../fonts/After-Headline-Light.ttf") format('truetype');
    /*src: url('../fonts/After-Headline-Light.ttf?#iefix') format('embedded-opentype'),*/

}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'after-bold';
    src: url("../fonts/After-Headline-Bold.otf");
}

body {
    font-family: 'arial' !important;
    background: #efefef;
    font-size: 1.31em;
}

a {
    color: #fd8e40;
    text-decoration: none;
}

mark {
    padding: 1px 3px;
    margin: -3px -2px;
    border-radius: 2px;
    font-weight: lighter;
    font-size: 0.95em;
    background: #a7a7a7;
}

h1, h2, h3, h4, h5, h6, .sidebar-menu * a, body * button, * .nav-tabs li a, .dropdown-menu a, .navbar a {
    font-family: 'after', 'arial' !important;
    font-weight: lighter;
    cursor: pointer;
}

.sidebar-menu > li {
    border-bottom: 1px solid #1d2730;
    border-left: 2px solid #414d59;
}

.sidebar-menu > li.open {
    border-left: 2px solid #e0803c;
}

.table tbody tr:hover {
    background: rgba(0, 0, 0, 0.05);
    transition: all, 0.3s;
}

.dataTables_paginate, .dataTables_info {
    display: inline-block;
}

.dataTables_paginate {
    position: absolute;
    right: 0;
}

.dataTables_paginate #example_previous {
    border-radius: 4px 0 0 4px !important;
}

.dataTables_paginate #example_next {
    border-radius: 0 4px 4px 0 !important;
}

.dataTables_paginate span a.btn-default {
    border-radius: 0;
    margin: 0 -1px;
}

.dataTables_paginate span a.btn-default.current {
    background: #fd8e40;
    color: #fff;
    border: 1px solid #fd8e40;
}

.sidebar-logo a .logo-text {
    color: #ffffff !important;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar-menu.dark li a, .navbar-inverse .navbar-brand {
    color: #ffffff;
    font-weight: lighter !important;
}

.sidebar-menu li.nav-item.open > a {
    color: #e0803c;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.sidebar-menu > li.dropdown ul.dropdown-menu > li > a:focus, .sidebar-menu > li.dropdown ul.dropdown-menu > li > a:hover {
    color: #e0803c;
}

div#example_length {
    display: inline-table;
}

div.dataTables_filter {
    display: inline-block;
    position: absolute;
    right: 0;
}

.sidebar-logo {
    background-color: #fd8e40;
    border-bottom: 0px;
    border-right: 0px;
    min-height: 65px;
    max-height: 65px;
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.3);
}

.navbar.nav-toggle {
    margin-bottom: 5px !important;
    width: calc(100%);
    border-radius: 0 0 0 0 !important;
    border: none;
    background-color: #fd8e40;
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.inicial-content {
    height: 100%;
    display: block;
}

.sidebar-menu.dark {
    background: #121920;
}

header {
    background-color: #ededed;
    padding: 12px 14px 14px;
    position: relative;
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.3);
    z-index: 999999;
}

header .logo a {
    display: table;
    width: 175px;
    height: 51px;
    background-image: url(../images/logo-eig.svg);
    background-repeat: no-repeat;

}

header:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    z-index: 999;
    margin: 0 -14px 0;
    background: rgba(217, 185, 41, 1);
    background: -moz-linear-gradient(-45deg, rgba(217, 185, 41, 1) 0%, rgba(84, 76, 60, 1) 50%, rgba(217, 185, 41, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(217, 185, 41, 1)), color-stop(50%, rgba(84, 76, 60, 1)), color-stop(100%, rgba(217, 185, 41, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(217, 185, 41, 1) 0%, rgba(84, 76, 60, 1) 50%, rgba(217, 185, 41, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(217, 185, 41, 1) 0%, rgba(84, 76, 60, 1) 50%, rgba(217, 185, 41, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(217, 185, 41, 1) 0%, rgba(84, 76, 60, 1) 50%, rgba(217, 185, 41, 1) 100%);
    background: linear-gradient(135deg, rgba(217, 185, 41, 1) 0%, rgba(84, 76, 60, 1) 50%, rgba(217, 185, 41, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9b929', endColorstr='#d9b929', GradientType=1);
}

.peer .logo img {
    margin: 14px 0 0 17px;
}

.sidebar-toggle i.ico {
    margin-top: 3px;
    display: block;
    line-height: 56px;
}

.sidebar-toggle i.ico.ico-chevron-left {
    font-size: 1.5em !important;
}

@media screen and (max-width: 991px) {
    .sidebar-logo {
        padding-left: 0 !important;
        padding-right: 5px !important;
    }

    .dataTables_paginate {
        position: relative;
        right: 0;
    }

}

#mainContent {
    margin: 0 0 0;
    padding: 0 11px;
}

.titulo-pg h2.tit {
    margin: 7px 0 0;
}

.titulo-pg p.lead {
    font-size: 1.2em;
    margin: 0 0 8px 0 !important;
    line-height: 1.2em;
}

.profile .foto-profile {
    width: 50px;
    height: 50px;
    background-image: url(../images/default-user-image.png);
    display: table;
    background-size: cover;
    float: right;
    border-radius: 1000px;
}

.profile {
    margin: 7px 15px 0 0;
    position: fixed;
    right: 0;
}

.nome-profile {
    color: #ffffff;
    line-height: 3.5em;
    margin-right: 8px;
}

.titulo-pg {
    border-bottom: 1px solid #ccc;
    margin: 0 0 18px 0;
    padding: 2px 0 4px 0;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb.step-form > li.done {
    color: rgba(0, 0, 0, 0.5);
}

.breadcrumb.step-form {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.breadcrumb.step-form > li:first-child {
    border-radius: 4px 0 0 4px;
    margin: 0;
}

.breadcrumb.step-form > li {
    background: none repeat scroll 0 0 #E4E4E4;
    margin: 0 0 0 -6px;
    padding: 13px 2%;
    position: relative;
}

.breadcrumb.step-form > li:after {
    background: none repeat scroll 0 0 #E4E4E4;
    border-radius: 6px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px -2px 1px -1px rgba(0, 0, 0, 0.1);
    content: "";
    display: table;
    height: 36px;
    position: absolute;
    right: -16px;
    top: 5px;
    transform: rotate(45deg);
    width: 36px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 1;
}

.breadcrumb.step-form > li:last-child:after {
    display: none;
}

.breadcrumb.step-form > li:last-child {
    border-radius: 0 4px 4px 0;
}

.breadcrumb.step-form li:first-child span {
    margin: 0 4px 0 15px;
    display: table;
}

.breadcrumb.step-form > li.select a {
    color: #fff;
}

.breadcrumb.step-form {
    margin: 0 0 15px;
    padding: 0;
    font-size: 14px;

}

.breadcrumb.step-form li span {
    margin: 0 8px 0 31px;
    position: relative;
    z-index: 9;
    white-space: nowrap;
}

.breadcrumb.step-form > li + li:before {
    content: none;
}

.breadcrumb > li {
    display: inline-table;
}

ol.breadcrumb > li > a {
    color: #e0803c;
}

li.nav-item span.title {
    position: relative;
    top: -2px;
}

ul.sidebar-menu > li ul.dropdown-menu > li .icon-holder {
    padding: 0 11px;
}

.arrow-item {
    width: 14px;
    height: 18px;
    position: absolute;
    right: 13px;
    top: calc(50% - 10px);
}

.arrow-item span {
    display: table;
    background: #fff;
    width: 100%;
    height: 2px;
    transition: all, 0.3s;
}

.arrow-item span:last-child {
    transform: rotate(90deg);
    top: 50%;
    position: absolute;
}

.arrow-item span:first-child {
    position: absolute;
    top: 9px;
}

.open .arrow-item span:last-child {
    transform: rotate(0deg);
    transition: all, 0.3s;
}

.search-input {
    background: #090d11;
}

.search-nav i.ico {
    font-size: 1.3em;
    display: block;
    text-align: center;
}

.search-input input.form-control {
    background: #090d11;
    border: 1px solid #090d11;
    border-radius: 0;
    padding: 0 9px;
    font-size: 1.15em;
    color: #b3b3bf;
    min-height: 54px;
}

.search-nav button.btn.btn-dark {
    border-radius: 0;
    padding: 16px 12px;
    background: #090d11;
    border: 1px solid #090d11;
    color: rgba(255, 255, 255, 0.6);
}

.search-nav .form-control:focus {
    box-shadow: none;
}

.sidebar-inner{
    width: 100%;
}


@media screen and (min-width: 1009px) {
    .is-collapsed .sidebar:hover .sidebar-inner .sidebar-menu > li > a .arrow-item, .is-collapsed .sidebar:hover .sidebar-inner .sidebar-menu > li > a .badge {
        display: inline-block;
    }

    .is-collapsed .sidebar:hover .search-input input.form-control {
        padding: 26px 9px;
        width: 100%;
    }

    .is-collapsed .sidebar:hover .search-nav button.btn.btn-dark {
        width: auto;
        transition: all, 0.4s;
    }

    .is-collapsed .sidebar .sidebar-inner .sidebar-menu > li > a .arrow-item, .is-collapsed .sidebar .sidebar-inner .sidebar-menu > li > a .badge {
        display: none;
    }

    .is-collapsed .search-input input.form-control {
        width: 0;
        padding: 26px 0;
        transition: all, 0.5s;
    }

    .is-collapsed .search-nav button.btn.btn-dark {
        width: 71px;
        transition: all, 0.4s;
    }

}

@media screen and (max-width: 1009px) and (min-width: 992px) {
    .is-collapsed .sidebar .sidebar-inner .sidebar-menu > li > a .arrow-item, .is-collapsed .sidebar .sidebar-inner .sidebar-menu > li > a .badge {
        display: inline-block;
    }

    .is-collapsed .search-input input.form-control {
        padding: 26px 9px;
        width: 100%;
    }

    .sidebar .arrow-item, .sidebar .badge {
        display: none;
    }

    .search-input input.form-control {
        width: 0;
        padding: 26px 0;
        transition: all, 0.5s;
    }

    .search-nav button.btn.btn-dark {
        width: 71px;
        transition: all, 0.4s;
    }

    .is-collapsed .sidebar .sidebar-inner .sidebar-menu > li > a .arrow-item, .is-collapsed .sidebar .sidebar-inner .sidebar-menu > li > a .badge {
        display: inline-block;
    }

    .is-collapsed .sidebar .sidebar-inner .search-nav button.btn.btn-dark {
        width: auto;
        transition: all, 0.4s;
    }

    .sidebar:hover .sidebar-inner .sidebar-menu > li > a .arrow-item, .sidebar:hover .sidebar-inner .sidebar-menu > li > a .badge {
        display: inline-block;
    }

    .sidebar:hover .sidebar-inner .search-input input.form-control {
        padding: 26px 9px;
        width: 100%;
        transition: all, 0.5s;
    }

    .is-collapsed .search-input input.form-control {
        padding: 26px 9px;
        width: 100%;
        transition: all, 0.5s;
    }

    .sidebar:hover .search-nav button.btn.btn-dark {
        width: auto;
        transition: all, 0.4s;
    }

}

ul.sidebar-menu > li > ul.dropdown-menu {
    background-color: #172028 !important;
}

.dropdown-menu li a span.icon-holder i:after {
    content: "";
    width: 2px;
    height: 2px;
    background: #fff;
    display: table;
    position: absolute;
    top: calc(50% - 1px);
    left: 46px;
}

.navbar-inverse {
    background: #121920 !important;
    border-color: #121920 !important;
}

#accordion.panel-group .panel-title a.collapsed {
    background: rgba(0, 0, 0, 0.05);
    color: #666;
}

.panel-group .panel-heading {
    border-bottom: 0;
    padding: 0;
    border-radius: 0 !important;
}

.panel-title {
    margin: 0px -1px 0 0;
    color: inherit;
}

#accordion.panel-group .panel-title a {
    display: table;
    padding: 12px;
    text-decoration: none !important;
    width: 100%;
}

#accordion.panel-group .panel {
    border-radius: 0;
    margin-bottom: -6px;
    overflow: hidden;
}

.panel-group .panel:first-child {
    border-radius: 5px 5px 0 0 !important;
}

.panel-group .panel:last-child {
    border-radius: 0 0 5px 5px !important;
}

div#myTabContent {
    padding: 16px 16px 5px 16px;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: #fff;
    margin: 0 0 16px 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #fff;
    border-right: 1px solid #dedede;
}

.nav-tabs > li > a {
    background: #e4e4e4;
    border: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin: 1px 2px 0 0px;
    color: #8c8c8c;
    border-bottom: 1px solid #e4e4e4;
    border-radius: 3px 3px 0 0;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background: #fd8e40;
    box-shadow: none;
    color: #fff !important;
}

.btn-group i.ico {
    margin: -1px -4px 0 -2px;
}

.btn-group.btn-group-sm .btn.btn-default {
    font-size: 0.9em;
}

.sidebar-menu > li.dropdown ul.dropdown-menu > li > a.select {
    color: #e0803c;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) !important;
}

.btn-primary {
    background: #fd8e40;
    border-color: #d0793c !important;
    color: #ffffff !important;
    transition: all, 0.5s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
    background: #efaf82 !important;
    border: 1px solid #c39e84 !important;
    transition: all, 0.5s;
}

.btn-success {
    background: #00b3aa;
    border-color: #15a7a0 !important;
    color: #ffffff;
    transition: all, 0.5s;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:visited {
    background: #009e96 !important;
    border-color: #117d79 !important;
    color: #ffffff;
    transition: all, 0.5s;
}

.btn-info {
    background: #29a0dc;
    border-color: #2f91c2 !important;
    color: #ffffff;
    transition: all, 0.5s;
}

.btn-warning {
    background: #f0ad4e !important;
    border-color: #dba353 !important;
    color: #ffffff;
    transition: all, 0.5s;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:visited {
    background: #da9c44 !important;
    border-color: #af8140 !important;
    color: #fff;
    transition: all, 0.5s;
}

.btn-danger {
    background: #d9534f;
    border-color: #b65451 !important;
    color: #ffffff;
    transition: all, 0.5s;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger:visited {
    background: #ca4e4a !important;
    border-color: #8c3f3c !important;
    color: #ffffff;
    transition: all, 0.5s;
}

.btn-cancel {
    background: #484855;
    border-color: #3e3e45 !important;
    color: #ffffff;
    transition: all, 0.5s;
}

.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel:visited {
    background: #6c6c7d !important;
    border-color: #66666f !important;
    color: #ffffff;
    transition: all, 0.5s;
}

.btn {
    padding: 9px 14px;
}

.btn.btn-lg {
    padding: 12px 16px;
}

.btn.btn-sm {
    padding: 5px 10px;
}

.btn.btn-xs {
    padding: 1px 5px !important;
    font-size: 12px;
}

.btn-group .btn-default:active, .open > .dropdown-toggle.btn-default {
    background: #e6e6e6;
    color: #000 !important;
}

.btn-group .btn i.ico {
    font-size: 1.25em;
    line-height: 0;
    position: relative;
    top: 3px;
    margin: 0 -5px;
}

.btn-ico-text i.ico {
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0 6px 0 -4px;
    display: inline-table;
    position: relative;
    top: 2px;
}

.btn.btn-ico i {
    font-size: 1.3em;
    position: relative;
    top: 2px;
}

.input-group-btn .btn-ico i.ico {
    margin: 0 3px 0 0;
    font-size: 1.14em;
}

.titulo-pg.bold h2.tit {
    font-weight: bold;
}

.titulo-pg.bold p.lead {
    font-weight: bold;
}

.label {
    font-weight: lighter;
}

.label-default {
    background: #a7a7a7;
}

.label-primary {
    background: #cea88d;
}

.label-success {
    background: #009e96;
}

.label-info {
    background: #29a0dc;
}

.label-warning {
    background: #fd8e40;
}

.label-danger {
    background: #ca4e4a;
}

.sidebar-menu .badge {
    position: absolute;
    right: 7px;
    top: calc(50% - 10px);
    font-weight: lighter;
}

.header .header-container .nav-left > li > a:hover {
    color: #ffc297;
    transition: all, 0.3s;
}

.form-group input, .input-group input, input.form-control {
    padding: 0 10px;
    font-weight: lighter;
    color: #807e7e;
    box-shadow: none;
    min-height: 40px;
}

.input-group-addon i.ico {
    font-size: 1.3em;
}

.obrigatorio {
    position: relative;
}

.input-group-required {
    width: 0;
    height: 0;
    border-right: 12px solid #E7033D;
    border-top: 12px solid #E7033D;
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
    float: right;
    position: absolute;
    right: 1px;
    top: 1px;
    border-radius: 0 4px 0 0;
}

.input-group-required:before {
    color: #fff;
    content: "*";
    font-size: 1.4em;
    left: 2px;
    position: relative;
    top: -13px;
    font-family: arial;
}

.has-error .form-control {
    border-color: #ca4e4a;
}

.has-error input.form-control::placeholder {
    color: #ca4e4a;
}

.has-error .form-control:focus {
    border-color: #ca4e4a;
}

.has-warning .form-control {
    border-color: rgb(240, 173, 78);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
}


select.form-control {
    min-height: 40px !important;
    color: #807e7e;
}

.alert i.ico {
    font-size: 1.5em;
    margin: -6px 3px 0px 0;
    display: inline-table;
    position: relative;
    top: 4px;
}

.alert {
    position: relative;
}

.alert button.close i.ico {
    font-size: 0.95em;
}

button.close {
    opacity: 0.4;
}

.alert {
    border: none;
}

.alert.alert-success {
    background: #ceead0;
}

.alert.alert-info {
    background-color: #d1f0fc;
}

.alert.alert-warning {
    background-color: #fff9ce;
}

.alert.alert-danger {
    color: #7e5e5e;
    background-color: #f2dede
}

.table thead tr th {
    background: #e6e6e6;
    padding: 15px 8px 3px;
    text-transform: uppercase;
}

.select-filter {
    display: inline-block;
    width: auto;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #bebebe;
}

.table > tfoot > tr > th {
    vertical-align: top;
    border-top: 2px solid #bebebe;
}

a:focus, a:hover {
    text-decoration: none;
    color: #9c816f;
}

#login .panel button.btn {
    min-width: 108px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-bottom: 0 !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color: transparent !important;
}

fieldset {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0 11px;
    border-radius: 4px;
    margin: 0 0 14px 0;
}

@media screen and (max-width: 768px) {
    .titulo-pg h2.tit {
        font-size: 2em;
    }
}

@media screen and (max-width: 430px) {
    .breadcrumb.step-form > li {
        padding: 8px 0px !important;
        text-indent: -5px;
    }

    .breadcrumb.step-form > li:after {
        height: 24px;
        width: 24px;
        border-radius: 4px;
        right: -6px;
        top: 4px;
    }

    .breadcrumb.step-form li span {
        margin: 0 11px 0 26px;
    }

    .breadcrumb.step-form li {
        font-size: 0.85em !important;

    }

    .dataTables_length label {
        color: rgba(0, 0, 0, 0);
    }
}

.form-group .btn-ico {
    padding: 7px 9px 8px 10px;
}

.input-group-btn button.btn {
    margin: 0 0 0 -1px !important;
    padding: 9px 11px;
}

.form-group .glyphicon.ico.ico-lupa {
    left: 1px;
}

.row {
    margin-right: -11px;
    margin-left: -11px;
}

.drop-profile.dropdown-menu {
    border-radius: 0 0 4px 4px;
    margin: 8px 0 0;
    padding: 0 0 6px 0;
    width: 100%;
    max-width: 100%;
    border: 0;
    position: initial;
}

.drop-profile img.img-profile {
    width: 90px;
    height: 90px;
    margin-left: calc(50% - 45px);
    border-radius: 100px;
    margin-top: 11px;
    margin-bottom: 0;
}

ul.list-icons {
    margin: -9px 0 0 0;
    padding: 0;
    list-style: none;
}

ul.profile-itens.list-icons {
    margin-bottom: 0 !important;
}

ul.list-icons > li > a {
    display: inline-table;
    padding: 5px 7px;
    color: #333;
    width: 100%;
}

.list-icons i.ico {
    font-size: 1.13em;
    position: relative;
    top: 2px;
    margin: 0 15px 0 0;
}

.list-icons li:before {
    content: "";
    width: 2px;
    height: 2px;
    background: #000;
    display: inline-table;
    position: relative;
    top: -5px;
    left: 23px;
    border-radius: 100px;
}

ul.profile-itens li {
    padding: 2px 16px;
    transition: all, 0.3s;
    margin: 0;
}

.profile-itens li:hover {
    background: #efefef;
    transition: all, 0.3s;
}

ul.profile-itens.list-icons li:before {
    display: none;
}

.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6 {
    padding: 0;
    margin: 0;
}

.col-red {
    color: #e21616 !important;
}

.col-cyan {
    color: #00BCD4 !important;
}

.col-teal {
    color: #009688 !important;
}

.col-orange {
    color: #FF9800 !important;
}

.col-blue-grey {
    color: #607D8B !important;
}

.col-blue {
    color: #006798 !important;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.font-underline {
    text-decoration: underline;
}

.font-line-through {
    text-decoration: line-through;
}

.font-overline {
    text-decoration: overline;
}

blockquote {
    border-left: 5px solid #ccc;
}

.list-icons {
    margin: 9px 0 !important;
}

.list-icons li {
    margin: 5px 0 5px 21px;
}

legend {
    font-family: after;
    margin-bottom: 6px;
    padding-bottom: 2px;
    font-size: 1.5em;
    margin-left: 6px;
    padding-left: 6px;
    padding-right: 6px;
    border: none;
    width: auto;
}

#accordion .panel:first-child .panel-heading {
    border-top: 0;
}

#accordion .panel-heading {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

tbody {
    background: rgba(255, 255, 255, 0.3);
}

.panel.panel-default {
    border-color: transparent;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #d2d2d2;
}

.panel-default .panel-heading, .panel-default .panel-footer {
    background: #e4e1df !important;
    font-family: 'after' !important;
    font-size: 1.18em;
}

.sweet-alert h2 {
    font-size: 2em;
    margin: 0 0 6px 0;
}

.sweet-alert p.lead {
    font-size: 1.18em;
}

.sweet-alert .modal-footer {
    padding: 11px 18px 0;
    margin: 0px -18px -5px;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.acction tr th:last-child, .acction tr td:last-child {
    width: 1%;
}

td.open {
    position: relative;
}

table button.btn {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

ul.dropdown-menu {
    left: auto !important;
    right: 14px;
    min-width: auto !important;
}

typeahead-container > ul.dropdown-menu {
    right: unset;
}

.table ul.dropdown-menu:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: -6px;
    right: 13px;
    transform: rotate(45deg);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 4px;
}

.info-box .ico {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.info-box .content {
    display: inline-block;
    padding: 7px 10px;
}

.info-box .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
    border-radius: 4px 0 0 4px;
}

.info-box .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}

.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}

div[role="group"] button i.ico {
    margin: 0 5px 0 -7px !important;
}

.d-n {
    display: none;
}

.d-c {
    display: table-cell;
}

.d-b {
    display: block;
}

.d-t {
    display: table;
}

.d-f {
    display: flex;
}

.d-i {
    display: inline;
}

.d-i-b {
    display: inline-block;
}

.d-i-t {
    display: inline-table;
}

.d-a {
    display: all;
}

.d-l-i {
    display: list-item;
}

.d-g {
    display: grid;
}

.d-r {
    display: ruby;
}

.d-t-c {
    display: table-column;
}

.font-l {
    font-weight: lighter !important;
}

.f-r {
    float: right;
}

.f-l {
    float: left;
}

.f-n {
    float: none;
}

.bg-red {
    background-color: #e74c3c !important;
}

.bg-red-dark {
    background-color: #c0392b !important;
}

.bg-orange {
    background-color: #fd8e40 !important;
}

.bg-orange-dark {
    background-color: #e67e22 !important;
}

.bg-green {
    background-color: #1abc9c !important;
}

.bg-green-dark {
    background-color: #16a085 !important;
}

.bg-yellow {
    background-color: #f1c40f !important;
}

.bg-yellow-dark {
    background-color: #e0b91c !important;
}

.bg-blue {
    background-color: #3498db !important;
}

.bg-blue-dark {
    background-color: #2980b9 !important;
}

.bg-purple {
    background-color: #9b59b6 !important;
}

.bg-purple-dark {
    background-color: #8e44ad !important;
}

.bg-grey-black {
    background-color: #484848 !important;
}

.bg-black {
    background-color: #000000 !important;
}

.bg-grey {
    background-color: #bdbdbd !important;
}

.bg-grey-dark {
    background-color: #a09c9c !important;
}

.bg-blue-grey {
    background-color: #848f96 !important;
}

.bg-blue-grey-dark {
    background-color: #6f7a82 !important;
}

.bg-blue-black {
    background-color: #172028 !important;
}

.bg-blue-black-dark {
    background-color: #121920 !important;
}

.bg-red-grey {
    background-color: #bba5a5 !important;
}

.bg-red-grey-dark {
    background-color: #a07a7a !important;
}

.bg-deep-orange {
    background-color: #ff5200 !important;
}

.bg-deep-orange-dark {
    background-color: #bba5a5 !important;
}

.bg-deep-orange-dark {
    background-color: #dc4a05 !important;
}

.media {
    display: inline-table;
}

.align-self-center {
    align-self: center !important;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.fileupload {
    display: table;
    position: relative;
}

.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
}

.fileupload .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

.fileupload .thumbnail > img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
}

.fileupload .btn {
    vertical-align: middle;
    margin: 0 5px 0 0px;
}

.table .dropdown-menu a i, .dropdown-menu a i {
    font-size: 1.15em;
    padding: 0 0 0 0;
    margin: 4px 4px 0 -10px;
    display: inline-table;
}

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-inline .fileupload-controls {
    display: inline;
}

.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}

.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}

.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}

.fileupload-exists span.fileupload-preview {
    background: rgba(0, 0, 0, 0.05);
    padding: 9px 24px 11px 10px;
    margin: 0px 0 0 0;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    color: #4c4c50;
}

a.close.fileupload-exists {
    position: absolute;
    top: calc(50% - 11px);
    right: 8px;
}

.modal-footer {
    padding: 3px 5px 5px 5px;
}

.modal-header .close {
    margin: 3px 0 -2px;
}

.canvasjs-chart-credit {
    display: none;
}

.float-left {
    float: left;
}

canvas.chartjs-render-monitor {
    width: 100% !important;
}

#inicial {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 -11px;
}

.input-group .btn .ico {
    font-size: 1.13em;
    position: relative;
    top: 2px;
}

.max-width-50 {
    max-width: 50px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-150 {
    max-width: 150px;
}

.max-width-200 {
    max-width: 200px;
}

.max-width-250 {
    max-width: 250px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-350 {
    max-width: 350px;
}

.max-width-400 {
    max-width: 400px;
}

.max-width-450 {
    max-width: 450px;
}

.max-width-500 {
    max-width: 500px;
}

.max-width-550 {
    max-width: 550px;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-650 {
    max-width: 650px;
}

.max-width-700 {
    max-width: 700px;
}

.max-width-750 {
    max-width: 750px;
}

.max-width-800 {
    max-width: 800px;
}

.max-width-850 {
    max-width: 850px;
}

.max-width-900 {
    max-width: 900px;
}

.max-width-950 {
    max-width: 950px;
}

.max-width-1000 {
    max-width: 1000px;
}

.main-content {
    display: block;
    width: 100%;
    height: calc(100% - 70px);
    padding-bottom: 10px;
}

@media screen and (min-width: 992px) {
    .row > div[class*="col-"] {
        padding-right: 0 !important;
    }

    .row > div[class*="col-"]:last-child {
        padding-right: 14px !important;
    }

    .btn-group-from {
        margin: 21px 0 0 0;
    }

}

*[class*="col-xs"] .btn-width-full {
    width: 100%;
    min-width: 45px
}

*[class*="col-xs"] .btn-group-from {
    margin: 23px 0 0 0 !important;
}

.dataTables_wrapper {
    position: relative;
}

.panel.panel-default div#example_length {
    display: inline-table;
    padding: 0 7px;
    margin: 9px 1px 4px;
}

.panel.panel-default div.dataTables_filter {
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 9px;
}

.panel.panel-default .dataTables_paginate {
    right: 6px;
    bottom: 7px;
}

.panel.panel-default .dataTables_info {
    padding: 13px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    padding: 0 0 14px 0;
}

table tr td ul.dropdown-menu.dropdown-up, ul.dropdown-menu.dropdown-up {
    top: auto;
    bottom: 53px;
    box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.15);
}

table tr td ul.dropdown-menu.dropdown-up:before, ul.dropdown-menu.dropdown-up:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: auto;
    right: 13px;
    transform: rotate(45deg);
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    bottom: -7px;
}

.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar {
    width: 0px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #121920;
    border: 0px solid #000;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #e6e5e5;
}

.table-responsive::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #121920;
    border: 0px solid #000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.modal-body.modal-tabs {
    padding: 14px 0 0;
    background: #f3f3f3;
}

.modal-tabs .tab-content {
    border: 0 !important;
}

/*ngx-datatable*/

.ngx-datatable {
    vertical-align: middle;
}

.datatable-header {
    background: #e6e6e6;
    padding: 15px 8px 3px;
    text-transform: uppercase;;

    vertical-align: middle;
    vertical-align: bottom;
    border-bottom: 2px solid #bebebe;
    font-weight: bold;
}

.datatable-body-row:hover {
    background: rgba(0, 0, 0, 0.05);
    transition: all, 0.3s;
}

.datatable-body-row, .page-count {
    padding: 8px;
}

.ngx-datatable.material .datatable-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px;
}

.datatable-footer {
    vertical-align: top;
    border-top: 2px solid #bebebe;

    vertical-align: middle;
}

.page-count, .datatable-pager {
    display: inline-block;
}

.datatable-pager {
    position: absolute;
    right: 0;
}

.pager > .active > a {
    background-color: #ffb400 !important;
    /*background-color: #fff;*/
    border: 1px solid #ddd !important;
    color: #000;
}

.pager {
    padding-right: 8px !important;
}

.empty-row {
    text-align:center;
    font-weight: bold;
    padding-top: 10px;
}

span.form-control {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
}