@charset "utf-8";
/* CSS Paleta Verde */

#accordion.nav li a.active i.glyphicon, #accordion > li > ul > li > a.active{
	background:#fd8e40 !important;
	color:#FFF;
	}
.row-offcanvas-left #sidebar {
    background: none repeat scroll 0 0 #F6F6F6;
    box-shadow: 0 2px 0 2px #fd8e40;
    height: 100%;
    z-index: 9;
}

#accordion.nav li a:hover span.glyphicon {
    background: none repeat scroll 0 0 #fd8e40;
    transition: all 0s ease 0s, all 0.5s ease 0s;
	-webkit-transition: all 0s ease 0s, all 0.5s ease 0s;
	-o-transition: all 0s ease 0s, all 0.5s ease 0s;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    box-shadow: 0 3px 0 0 #fd8e40 inset;
	color: #fd8e40 !important;
	transition: all 0s ease 0s, all 0.5s ease 0s;
	-webkit-transition: all 0s ease 0s, all 0.5s ease 0s;
	-o-transition: all 0s ease 0s, all 0.5s ease 0s;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #fd8e40 !important;
  outline: 0;
}

#accordion.panel-group .panel-title a {
	background:#fd8e40;
	color:#fff;
}

.breadcrumb.step-form > li.done, .breadcrumb.step-form > li.done:after {
    background: none repeat scroll 0 0 #ffba89;
}
.breadcrumb.step-form > li.select, .breadcrumb.step-form > li.select:after {
    background: none repeat scroll 0 0 #fd8e40 !important;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #fd8e40;
}


#accordion > li > ul > li > a:hover {
    background: none repeat scroll 0 0 #fd8e40;
    color: #FFFFFF;
    transition: all 0s ease 0s, all 0.5s ease 0s;
	-webkit-transition: all 0s ease 0s, all 0.5s ease 0s;
	-o-transition: all 0s ease 0s, all 0.5s ease 0s;
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px #fd8e4069;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.1), 0 0 5px 0px #fd8e4026;
}

.nav.icons-bt > li > a:hover, .nav.icons-bt > li > a:focus {
    background-color: #fd8e40 !important;
    text-decoration: none;
	color:#FFF;
	transition:all,0.5s;
	-webkit-transition:all,0.5s;
	-o-transition:all,0.5s;
}


.carousel-indicators .active {
    background-color: #fd8e40;
    height: 12px;
    margin: 0;
    width: 12px;
}
/*--BUTTONS--*/
.btn-primary {
    background-color: #fd8e40;
    border-color: #00a59c !important;
    color: #ffffff;
}
/*--FIM BUTTONS--*/