.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999999;
    cursor: pointer;
}
.can-toggle input[type="checkbox"][disabled] ~ div.tgg {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ div.tgg .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.can-toggle input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle div.tgg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle div.tgg .can-toggle__div.tgg-text {
    flex: 1;
    padding-left: 14px;
}
.can-toggle div.tgg .can-toggle__switch {
  position: relative;
}
.can-toggle div.tgg .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle div.tgg .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ div.tgg {
  color: rgba(119, 119, 119, 0.5);
}
.can-toggle input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch {
  background-color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch:after {
  color: #5e5e5e;
}
.can-toggle input[type="checkbox"]:hover ~ div.tgg {
  color: #6a6a6a;
}
.can-toggle input[type="checkbox"]:checked ~ div.tgg:hover {
  color: #fd8e40;
}
.can-toggle input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch {
  background-color: #fd8e40;
}
.can-toggle input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
  color: #fd8e40;
}
.can-toggle input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch {
  background-color: #fd8e40;
}
.can-toggle input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch:after {
  color: #fd8e40;
}
.can-toggle div.tgg .can-toggle__div.tgg-text {
  flex: 1;
}
.can-toggle div.tgg .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    background: #9a9a9a;
}
.can-toggle div.tgg .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle div.tgg .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
    -webkit-transform: translate3d(95%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: -3px;
}
/*.can-toggle input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}*/
.can-toggle input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle div.tgg {
  font-size: 14px;
}
.can-toggle div.tgg .can-toggle__switch {
    height: 40px;
    border-radius: 4px;
    width: 100%;
}
/*.can-toggle div.tgg .can-toggle__switch {
    height: 40px;
    flex: 0 0 134px;
    border-radius: 4px;
}*/
.can-toggle div.tgg .can-toggle__switch:before {
    left: 50%;
    font-size: 12px;
    line-height: 40px;
    width: 50%;
    padding: 0 12px;
}
/*.can-toggle div.tgg .can-toggle__switch:before {
    left: 67px;
    font-size: 12px;
    line-height: 40px;
    width: 67px;
    padding: 0 12px;
}*/
.can-toggle div.tgg .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: 50%;
    line-height: 36px;
    font-size: 12px;
}
/*.can-toggle div.tgg .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: 65px;
    line-height: 36px;
    font-size: 12px;
}*/
.can-toggle div.tgg .can-toggle__switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: -1px;
}

/*.can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
  -webkit-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}*/
.can-toggle.can-toggle--size-small input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small div.tgg {
  font-size: 13px;
}
.can-toggle.can-toggle--size-small div.tgg .can-toggle__switch {
    height: 28px;
    border-radius: 2px;
    width: 100%;
}
/*.can-toggle.can-toggle--size-small div.tgg .can-toggle__switch {
  height: 28px;
  flex: 0 0 90px;
  border-radius: 2px;
}*/
.can-toggle.can-toggle--size-small div.tgg .can-toggle__switch:before {
    left: 50%;
    font-size: 10px;
    line-height: 28px;
    width: 50%;
    padding: 0 12px;
}
/*.can-toggle.can-toggle--size-small div.tgg .can-toggle__switch:before {
  left: 45px;
  font-size: 10px;
  line-height: 28px;
  width: 45px;
  padding: 0 12px;
}*/

.can-toggle.can-toggle--size-small div.tgg .can-toggle__switch:after {
    top: 1px;
    left: 1px;
    border-radius: 1px;
    width: 50%;
    line-height: 26px;
    font-size: 10px;
}
/*.can-toggle.can-toggle--size-small div.tgg .can-toggle__switch:after {
  top: 1px;
  left: 1px;
  border-radius: 1px;
  width: 44px;
  line-height: 26px;
  font-size: 10px;
}*/
.can-toggle.can-toggle--size-small div.tgg .can-toggle__switch:hover:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-large input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: -2px;
}
/*.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
  -webkit-transform: translate3d(78px, 0, 0);
          transform: translate3d(78px, 0, 0);
}*/
.can-toggle.can-toggle--size-large input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-large div.tgg {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large div.tgg .can-toggle__switch {
    height: 50px;
    border-radius: 4px;
    width: 100%;
}
.can-toggle.can-toggle--size-large div.tgg .can-toggle__switch:before {
    left: 50%;
    font-size: 14px;
    line-height: 50px;
    width: 50%;
    padding: 0 12px;
}
/*.can-toggle.can-toggle--size-large div.tgg .can-toggle__switch:before {
  left: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}*/
.can-toggle.can-toggle--size-large div.tgg .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: 50%;
    line-height: 46px;
    font-size: 14px;
}
/*.can-toggle.can-toggle--size-large div.tgg .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
}*/
.can-toggle.can-toggle--size-large div.tgg .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ div.tgg {
  color: rgba(181, 62, 116, 0.5);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch {
    background-color: #944949;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch:after {
    color: #944949;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ div.tgg {
  color: #a23768;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ div.tgg:hover {
  color: #39916a;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch {
  background-color: #44ae7f;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
  color: #368a65;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch {
  background-color: #3d9c72;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch:after {
  color: #2f7757;
}
.can-toggle.demo-rebrand-1 div.tgg .can-toggle__div.tgg-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 div.tgg .can-toggle__switch {
    transition: background-color 0.3s ease-in-out;
    background: #d9534f;
}
.can-toggle.demo-rebrand-1 div.tgg .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 div.tgg .can-toggle__switch:after {
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    color: #d9534f;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ div.tgg {
  color: rgba(68, 68, 68, 0.5);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch {
  background-color: #444;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch:after {
  color: #2b2b2b;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ div.tgg {
  color: #373737;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ div.tgg:hover {
  color: #fd8e40;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch {
  background-color: #fd8e40;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: -2px;
}
/*.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
  color: #fd8e40;
}*/
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch {
  background-color: #fd8e40;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch:after {
  color: #fd8e40;
}
.can-toggle.demo-rebrand-2 div.tgg .can-toggle__div.tgg-text {
  flex: 1;
}
.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    background: #9a9a9a;
}
.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.7);
}
.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #444;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ div.tgg .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
/*.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ div.tgg .can-toggle__switch:after {
    -webkit-transform: translate3d(58px, 0, 0);
              transform: translate3d(47px, 0, 0);
}*/
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ div.tgg .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ div.tgg .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-2 div.tgg {
    font-size: 13px;
}
.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch {
    height: 50px;
    border-radius: 60px;
    width: 100%;
}
/*.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch {
    height: 50px;
    flex: 0 0 97px;
    border-radius: 60px;
}*/
.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch:before {
    left: 50%;
    font-size: 12px;
    line-height: 50px;
    width: 50%;
    padding: 0 10px;
}
/*.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch:before {
    left: 47px;
    font-size: 12px;
    line-height: 50px;
    width: 50px;
    padding: 0 10px;
}*/
.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 100px;
    width: 50%;
    line-height: 46px;
    font-size: 12px;
}
.can-toggle.demo-rebrand-2 div.tgg .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
