<!--<div *ngFor="let mensagem of mensagens;let index = index; trackBy:trackByIndex"
     [ngClass]="{ 'alert': mensagem, 'alert-success': mensagem.type === 'success', 'alert-danger': mensagem.type === 'error' }">

  <ng-template #msgTemplate>
    {{mensagem.text}}
  </ng-template>

  <button type="button" class="close" aria-label="Close" (click)="close($event)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>-->

