<ng-template #autocompleteTemplate let-model="item" let-index="index">
  <h5>{{getLabel(model)}}</h5>
</ng-template>

<input [id]="id" class="form-control"  (blur)="onBlur(null)" #campo
       [(ngModel)]="label"
       [placeholder]="placeholder"
       [typeahead]="lista"
       (typeaheadOnSelect)="onSelect($event)"
       (typeaheadOnBlur)="onBlur($event)"
       [typeaheadOptionsLimit]="10"
       [typeaheadMinLength]="3"
       [typeaheadWaitMs]="500"
       [typeaheadItemTemplate]="autocompleteTemplate"
       [disabled]="disabled"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
       (typeaheadLatinize)="true"
       (typeaheadAsync)="true"

/>

<div class="help-block with-errors" *ngIf="typeaheadLoading===true">Carregando</div>
<div class="help-block with-errors" *ngIf="typeaheadNoResults===true">&#10060; Nenhum registro encontrado</div>
