<div class="sidebar" >
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" href="#" [routerLink]="['/main/home']">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo"><img src="./assets/images/logo-snr.png" alt=""></div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text">{{tituloHeader}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle"><a href="#" class="td-n"><i
                            class="ico ico-chevron-left"></i></a></div>
                </div>
            </div>
        </div>
        <div class="search-input search-nav">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{'filtrar_itens' | translate}}">
                <span class="input-group-btn">
				        <button class="btn btn-dark" type="button"><i class="ico ico-lupa"></i></button>
				      </span>
            </div>

        </div>
        <ul class="sidebar-menu scrollable dark">

            <li *ngFor="let item of itensMenu" [ngClass]="{'dropdown':item.filhos.length >0,'nav-item':true }">

                <a *ngIf="item.filhos.length == 0" class="dropdown-toggle"  (click)="trocar(item.menu)">
                    <span class="icon-holder"><i class="ico ico-credit-card"></i> </span><span class="title">{{item.menu.descricao}}</span></a>


                <a *ngIf="item.filhos.length > 0" class="sidebar-link" href="javascript:void(0);"><span
                        class="icon-holder">
	               		<i class="ico ico-layers"></i> </span><span class="title">{{item.menu.descricao}}</span>
                    <div class="arrow-item">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <ul *ngIf="item.filhos.length > 0" class="dropdown-menu">
                    <li *ngFor="let filho of item.filhos">
                        <a class="sidebar-link" (click)="trocar(filho)" ><span class="icon-holder">
                            <i class="ico ico-star"></i> </span>{{filho.descricao}}</a>
                    </li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i
                        class="ico ico-star"></i> </span><span class="title">{{'favoritos' | translate}}</span>
                    <div class="arrow-item">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="sidebar-link" href="#"><span class="icon-holder"><i class="ico ico-star2"></i> </span>Botões</a>
                    </li>
                    <li><a class="sidebar-link" href="#"><span class="icon-holder"><i class="ico ico-star2"></i> </span>Tipografia</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>