
<div *ngIf="this.data?.error">
  <h1>ERROR {{ this.data?.error}}</h1>
  <h5 *ngIf="this.data?.error === 404">Não Encontrado:(</h5>
  <a [routerLink]="'/'">
    <h5>Voltar para pagina inicial!</h5>
  </a>
</div>

<div *ngIf="this.routeParams.msg">
  <h1> ERROR {{ routeParams?.status }}</h1><br/>
  <h3 *ngIf="this.routeParams?.msg">{{ routeParams?.msg}}</h3><br/>
  <a
    [routerLink]="routeParams?.url"
    *ngIf="routeParams?.url && routeParams.status !== '404'">
    <h5>Voltar para  {{routeParams?.url}}</h5>
  </a>
  <a routerLink="/home" *ngIf="!routeParams.url || routeParams.status === '404'">
    <h5>Voltar para a página inicial</h5>
  </a>
</div>

<div *ngIf="routeParams !=null && this.data ==null  && routeParams.msg==null && routeParams.status == null">
  <h1>Erro Desconhecido :(</h1>
  <a [routerLink]="'/home'">
    <h5>Voltar para página inicial</h5>
  </a>
</div>
