<form id="usuario" [formGroup]="formulario" novalidate>

    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <!--data-provides="fileupload"-->
                <div class="fileupload"
                     [ngClass]="{'fileupload-new':todosItens.length==0,'fileupload-exists':todosItens.length>0}"
                     #fileupload>
                   <span class="btn btn-primary btn-file">
                      <span class="fileupload-new">{{initLabel}}</span>
                      <span class="fileupload-exists">{{editLabel}}</span>
                       <input type="file" ng2FileSelect [uploader]="upload" formControlName="arquivo" *ngIf="multiple"
                              multiple/>
                       <input type="file" ng2FileSelect [uploader]="upload" formControlName="arquivo"
                              *ngIf="!multiple"/>

                    </span>

                    <ng-container *ngFor="let item of todosItens">
                        <span>
                            <span class="fileupload-preview "> {{item?.file?.name}}

                                 <span *ngIf="item.isUploading">
                                    <div class="progress" style="margin-bottom: 0; height: 7px">
                                        <div class="progress-bar" role="progressbar"
                                             [ngStyle]="{ 'width': item?.progress + '%' }"></div>
                                    </div>
                                </span>
                            </span>
                            <a href="#" class="close"
                               style="float: none; position: relative; right: 18px;top: calc(50% - 11px);"
                               data-dismiss="upload" (click)="removerItem($event,item);">×</a>

                        </span>

                    </ng-container>

                </div>
                <span class="help-block" *ngIf="msgErro">{{msgErro}}</span>

            </div>


            <!--<ng-container *ngIf="itemUpload!=null">
                <span *ngIf="itemUpload.isUploading"
                      nowrap>{{ itemUpload?.file?.size/1024/1024 | number:'.2' }} MB</span>
                <span *ngIf="itemUpload.isUploading">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar"
                             [ngStyle]="{ 'width': itemUpload?.progress + '%' }"></div>
                    </div>
                </span>
            </ng-container>-->

        </div>

    </div>

</form>

<!--<div _ngcontent-c6="" class="fileupload fileupload-new">
    <span _ngcontent-c6="" class="btn btn-primary btn-file">
        <span _ngcontent-c6="" class="fileupload-new">Selecionar </span>
        <span _ngcontent-c6="" class="fileupload-exists">Alterar </span>
        <input _ngcontent-c6="" formcontrolname="arquivo" ng2fileselect="" type="file" ng-reflect-name="arquivo" ng-reflect-uploader="[object Object]" class="ng-star-inserted ng-touched ng-dirty ng-valid">
    </span>
    <span _ngcontent-c6="" class="fileupload-preview ng-star-inserted"> contrato_2406590_3F714.pdf</span>
    <a _ngcontent-c6="" class="close fileupload-exists ng-star-inserted" data-dismiss="fileupload" href="#" style="float: none">×</a>
</div>


<div _ngcontent-c6="" class="fileupload fileupload-exists" data-provides="fileupload">
    <input type="hidden" value="" name="">
    <span _ngcontent-c6="" class="btn btn-primary btn-file">
        <span _ngcontent-c6="" class="fileupload-new">Selecionar </span>
        <span _ngcontent-c6="" class="fileupload-exists">Alterar </span>
        <input _ngcontent-c6="" formcontrolname="arquivo" ng2fileselect="" type="file" ng-reflect-name="arquivo" ng-reflect-uploader="[object Object]" class="ng-star-inserted ng-touched ng-dirty ng-valid">
    </span>
    <span _ngcontent-c6="" class="fileupload-preview ng-star-inserted"> contrato_2406590_3F714.pdf</span>
    <a _ngcontent-c6="" class="close fileupload-exists ng-star-inserted" data-dismiss="fileupload" href="#" style="float: none">×</a>
</div>-->
