<div class="header navbar nav-toggle" id="header">
  <div class="header-container">
    <ul class="nav-left" *ngIf="usuarioLogado">
      <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);" (click)="toogle()"><i class="ico ico-align-left"></i></a></li>
      <li class="search-input"><input class="form-control" type="text" placeholder="{{'procurar' | translate}}..."></li>
    </ul>

    <div class="profile dropdown">
      <a href="javascript:void(0);" class=" pull-right dropdown-toggle" data-toggle="dropdown" *ngIf="usuarioLogado">
        <span class="nome-profile">{{usuarioLogado?.nome}}</span><img src="./assets/images/default-user-image.png" alt="{{usuarioLogado?.nome}}" class="foto-profile"/>
      </a>
      <div class="drop-profile dropdown-menu">
        <img  class="img-profile" alt="{{usuarioLogado?.nome}}" src="./assets/images/default-user-image.png"/>
        <h4 class="text-center">{{usuarioLogado?.nome}}</h4>
        <div class="divider"></div>
        <ul class="profile-itens list-icons">
          <li>
            <a href=""><i class="ico ico-sliders"></i>{{'configuracoes'|translate}}</a>
          </li>
          <li>
            <a href=""><i class="ico ico-bell"></i>{{'minhas_mensagens'|translate}}</a>
          </li>
          <li>
            <a href="#" (click)="logout()"><i class="ico ico-log-out"></i>{{'sair'|translate}}</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

</div>