<div [formGroup]="formulario" class="{{cssColuna}}">
    <label>{{label}}</label>
    <div class="form-group">
        <div class="input-group input-daterange">
            <input [id]="idini" type="text" class="form-control"
                   placeholder="{{placeholderIni}}" >
            <div class="input-group-addon">até</div>
            <input [id]="idfim" type="text" class="form-control"
                   placeholder="{{placeholderFim}}" >
        </div>
    </div>

    <div class="help-block with-errors" *ngIf="formulario.invalid">{{msgErro}}</div>
</div>
