<div [formGroup]="formulario" class="form-group">
    <div class="input-group date dateFuture">
        <input [id]="id" type="text" class="form-control"
               placeholder="{{placeholder}}">
        <span class="input-group-addon"><i class="ico-calendar"></i></span>
    </div>
</div>
