<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.ico">
    <title>SCA - Sistema de Controle de Acessos</title>
    <base href="/">

</head>
<body style="display: unset;margin: unset">

<!--<app-root>Carregando...</app-root>-->
<h1 id="status">
    {{'carregando' | translate}} ...
</h1>
</body>
</html>
