<!--<div #todaModal class="modal-header">
  <h4 class="modal-title text-left">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
  </h4>
</div>-->
<div class="modal-body text-center">

  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
  {{texto}}
  <ng-template #corpo></ng-template>
  <!--<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"
         role="progressbar" aria-valuenow="75"
         aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>

    <ng-template #corpo></ng-template>

  </div>-->
</div>



