<div class="app">
    <div class="inicial-content">

        <eig-menu></eig-menu>


        <div class="page-container">

            <eig-header></eig-header>

            <main class="main-content">

                <div id="mainContent">
                    <eig-alert></eig-alert>
                    <router-outlet></router-outlet>

                </div>

            </main>
        </div>
    </div>
</div>
