<body class="erros" id="erro404">

    <div class="inicial-content error-center">
        <div class="row">
            <div class="col-md-6 text-right error-txt"><h1>{{codigoErro}}</h1></div>
            <div class="col-md-6">
                <div class="teste text-left">
                    <h3>Ooooops!</h3>
                    <p>Desculpe, aconteceu um erro.</p>
                    <p><i>{{mensagemErro}}</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><a class="btn btn-default" href="#" [routerLink]="['/main/home']">Voltar</a></div>
        </div>
    </div>

</body>
